#header { background-color:#FFF; border-top:3px solid #017EBA; }

#logo { border-right:1px #CCC solid; }
#navigation li { border-right:1px #CCC solid; border-left:none; color:#017EBA; }
#navigation li a span { text-decoration:none; color:#017EBA; border:none; }
#navigation li a:hover , #navigation li a.selected { border-bottom:2px solid #017EBA; }

#footer { background:#659927; color:#FFF; }
#footer a { color:#FFF; border-bottom:1px dotted #FFF; }
