.navbar .nav li a{
	padding:20px;
}

.navbar .nav li{
	height:60px;
}

.container-inner{
	margin-top:20px;
}

.wizard-progress{
	background:#EEE;
	padding:10px;
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
        	border-radius: 4px;
    margin-bottom: 10px;
}

a.btn-primary:visited{
	color:white;
}

.wizard-progress .span3{
	width:210px;
	margin-bottom:10px;
}

.wizard-progress .progress{
	margin-bottom:10px;
}

@media (min-width: 1200px) {
	.wizard-progress .span3{
		width:260px;
	}
}

.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
}

.flavorDescriptionP {
	min-height: 80px;
}

#appNameEventDiv, #appNameFestivalDiv, #appNameRestaurantDiv, #appNameShopDiv {
	display:none;
}

.step2div {
	display:none;
}



/* FLOORPLAN */
.map {
    height: 400px;
    margin: 10px 0 20px;
    width: 660px;
}

.mapform_bg {
position: absolute;
margin-top: -500px;
display: none;
width: 700px;
height: 500px;
background: #FFF;
z-index: 15;
}
.mapform {
position: absolute;
display: none;
width: 300px;
height: 150px;
margin: -325px 0 0 185px;
background: #FFF;
z-index: 16;
border: 1px solid #CCC;
padding: 15px;
}
.mapform select {
width: 300px;
}
.mapform select.error {
border: 1px solid #FF0000;
}
.mapform .buttonbar {
margin-top: 10px;
}

.poiform {
position: absolute;
display: none;
width: 300px;
height: 160px;
margin: -325px 0 0 165px;
background: #FFF;
z-index: 16;
border: 1px solid #CCC;
padding: 15px;
}
.poiform label {
display: block;
float: left;
width: 40px;
padding: 3px 0 3px 0;
}
.poiform input {
float: left;
width: 250px;
border: none;
border-bottom: 1px dotted #999;
padding: 8px 3px 0 3px;
}
.poiform input.error {
border-color: #FF0000;
}
.poiform select {
width: 300px;
}
.poiform select.error {
border: 1px solid #FF0000;
}
.poiform .buttonbar {
margin-top: 10px;
}

.point, .pointExhibitor, .pointSubfloorplan, .pointSession {
position: absolute;
display: block;
text-indent: -9999px;
width: 32px;
height: 44px;
outline: none;
background: url('../img/marker.png') no-repeat;
cursor: pointer;
z-index: 100;
}
.pointExhibitor {
  background-image: url('../img/marker-exhibitor.png');
  width: 44px;
}
.pointSubfloorplan {
  background-image: url('../img/marker-subfloorplan.png');
  width: 44px;
}
.pointSession {
  background-image: url('../img/marker-session.png');
  width: 44px;
}
.loader {
background: #F6F5F5 url('../img/loader.gif') no-repeat center;
}
.imgCaption {
bottom: 0;
left: 0;
color: #fff;
opacity: .6;
background: #333;
padding: 10px;
width: 940px;
text-align: center;
font-size: 16px;
text-transform: uppercase;
text-shadow: 1px 1px 0 #111;
font-weight: bold;
}
.bubble .close {
display: block;
text-indent: -9999px;
position: absolute;
top: -12px;
right: -12px;
width: 30px;
height: 30px;
outline: none;
background: url('../img/close-30.png') no-repeat top left;
cursor: pointer;
}
.bubble {
padding: 7px 10px;
background: #333;
color: #fff;
width: 240px;
font-size: 11px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 0 20px #999;
-webkit-box-shadow: 0 0 20px #999;
text-align: center;
font-weight: bold;
}
.bubble p {
margin: 5px 0;
}
.bubble span {
display: block;
font-size: 12px;
font-weight: bold;
}
.bubble img {
vertical-align: bottom;
}
ul.map_buttons, ul.map_buttons li {
display: block;
list-style: none;
padding: 0;
margin: 0;
}
ul.map_buttons li {
float: left;
}
.map_buttons a {
display: block;
background: #363636;
line-height: 28px;
padding: 0 15px;
font-size: 12px;
float: left;
margin-right: 4px;
text-decoration: none;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
.markerContent {
z-index: 10;
}
.markerContent a.delete {
display: block;
float: right;
background: transparent url('../img/icons/delete.png') no-repeat 5px 1px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
color: #FFF;
}
.markerContent a {
  color:#FFFFFF;
}

.importprogress {
display: none;
background: url('../img/ajax-loader.gif') no-repeat 5px 5px;
padding: 12px 10px 15px 50px;
margin-left: 140px;
}

/* TAGIT */
ul.tags {
	margin-left:30px;
	list-style:none;
}
