/* === GLOBAL === */
* { margin:0; padding:0; }
html,body { margin:0; padding:0; height:100%; }
body { margin:0; background:#f5f5f5; font-family:"Lucida Grande","Lucida Sans",Arial,Verdana,Sans-Serif; font-size:12px; color:#333333; }
a { color:#000; text-decoration:none; border-bottom:1px dotted #333; }
a:hover { border-bottom:1px solid #333; }

h1, h2, h3, h4 { font-family:"Lucida Grande","Lucida Sans",Arial,Verdana,Sans-Serif; font-weight:bold; }
h1 { font-size:24px; }
h2 { font-size:18px; }
h3 { }
h4 {  }

/* === STRUCTURE === */
#wrapper { min-height:100%; height:auto !important; height:100%; margin: 0 auto -50px; }
#header { }
#content { }
#footer { }
.push { height:50px; }

/* === LOGIN === */
#frmlogin { display:block; width:400px; height:auto; position:absolute; left:50%; top:10%; margin:0px 0 0 -200px; }
#frmlogin #footer { text-align:center; color:#CCC; margin:10px 0 0 0; text-shadow:1px 1px 0px #FFF; }
#frmlogin #footer a { border:none; color:#CCC; text-shadow:1px 1px 0px #FFF; }
#frmlogin #footer a:hover { color:#AAA; }
#frmlogin form { 
	display:block; width:400px; height:auto; background:#FFF;
	
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; 
	-webkit-box-shadow: 0px 1px 3px 0px #BBB; -moz-box-shadow:0px 1px 3px 0px #BBB; box-shadow:0px 1px 3px 0px #BBB; 
}
#frmlogin h1 { 
	display:block; width:100%; height:auto; font-size:15px; color:#FFF; text-transform:uppercase; text-align:center; padding:15px 0; margin:0;
	
	-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -moz-border-radius-bottomright:0px; -moz-border-radius-bottomleft:0px; -webkit-border-radius:5px 5px 0px 0px; border-radius:5px 5px 0px 0px;
	background:#4e4e4e; background:-moz-linear-gradient(top, #4e4e4e 0%, #2e2e2e 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e4e4e), color-stop(100%,#2e2e2e)); 
	background:-webkit-linear-gradient(top, #4e4e4e 0%,#2e2e2e 100%); background:-o-linear-gradient(top, #4e4e4e 0%,#2e2e2e 100%); background:-ms-linear-gradient(top, #4e4e4e 0%,#2e2e2e 100%); 
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#2e2e2e',GradientType=0 ); background:linear-gradient(top, #4e4e4e 0%,#2e2e2e 100%);
}
#frmlogin h1 img { position:relative; margin:0 0 -6px 0; }
#frmlogin p { display:block; /*margin:13px 0;*/ }
#frmlogin p label { display:none; }


#frmlogin p input { 
	display:block; width:290px; height:auto; border:1px solid #DDD; padding:10px 15px 10px 45px; margin:10px auto 0 auto;
	background-color:#FFF; background-position:6px 4px; background-repeat:no-repeat; color:#333;
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; 
	-webkit-box-shadow: 0px 0px 3px 0px #23a8e0; -moz-box-shadow:0px 0px 3px 0px #23a8e0; box-shadow:0px 0px 3px 0px #23a8e0;
}
#frmlogin p select { 
	display:block; width:350px; height:30px; border:1px solid #CCC; background:transparent; margin:0 auto;
	
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; 
	-webkit-box-shadow: 0px 0px 3px 0px #23a8e0; -moz-box-shadow:0px 0px 3px 0px #23a8e0; box-shadow:0px 0px 3px 0px #23a8e0;
}
#frmlogin p input:focus { color:#000; }
#frmlogin p input.username { background-image:url('../../img/auth/icn-username.jpg'); }
#frmlogin p input.password { background-image:url('../../img/auth/icn-password.jpg'); }

#frmlogin .buttonbar { display:block; width:400px; margin:0 auto; text-align:center; margin-top: 10px;
}
#frmlogin .buttonbar.small { width:150px; }
#frmlogin .buttonbar input{
	display:block; font-size:16px; color:#ffffff; padding:10px 0; border:1px solid #CCC; margin: 0 auto 10px; cursor:pointer;
	width: 353px;
	height: 40px;
}
/*#frmlogin .buttonbar input {
	display:block; font-size:18px; color:#ffffff; padding:10px 0; border:1px solid #CCC; margin: 0 auto 10px; cursor:pointer;
	background:-moz-linear-gradient(top, #42b2e2 0%, #1e8fbf); background:-webkit-gradient(linear, left top, left bottom, from(#42b2e2), to(#1e8fbf));
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px 0px #CCC; -moz-box-shadow:0px 0px 3px 0px #CCC; box-shadow:0px 0px 3px 0px #CCC;
	text-shadow: 0px 1px 1px #333; width: 355px;
}
#frmlogin .buttonbar input:hover { text-shadow: 0px -1px -1px #333; }

#frmlogin .buttonbar a.button {
	display:block; width:150px; font-size:14px; color:#ffffff; padding:10px 0; border:1px solid #CCC; margin:10px 3px 15px 3px; cursor:pointer;
	background:-moz-linear-gradient(top, #42b2e2 0%, #1e8fbf); background:-webkit-gradient(linear, left top, left bottom, from(#42b2e2), to(#1e8fbf));
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px 0px #CCC; -moz-box-shadow:0px 0px 3px 0px #CCC; box-shadow:0px 0px 3px 0px #CCC;
	text-shadow: 0px 1px 1px #333; text-decoration:none; text-align:center; float:left; font-size:14px; line-height:normal;
}
#frmlogin .buttonbar a.button:hover { text-shadow: 0px -1px -1px #333; }*/

#frmlogin .feedback { width:350px; height:auto; background:#FF0000; margin:0 0 5px 0; padding:10px 10px 10px 40px; }
#frmlogin .feedback.error { background:#FFF7B4 url('../../img/icons/error.png') no-repeat 10px 10px; }
#frmlogin .feedback.succes { background:#B4EDAD url('../../img/icons/accept.png') no-repeat 10px 10px; }

/* === REGISTER === */
#frmregister { display:block; width:450px; height:auto; position:absolute; left:50%; top:10%; margin:-200px 0 0 -200px; }
#frmregister #footer { text-align:center; color:#CCC; margin:10px 0 0 0; text-shadow:1px 1px 0px #FFF; }
#frmregister #footer a { border:none; color:#CCC; text-shadow:1px 1px 0px #FFF; }
#frmregister #footer a:hover { color:#AAA; }
#frmregister form { 
	display:block; width:450px; height:auto; background:#FFF; 
	
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; 
	-webkit-box-shadow: 0px 1px 3px 0px #BBB; -moz-box-shadow:0px 1px 3px 0px #BBB; box-shadow:0px 1px 3px 0px #BBB; 
}
#frmregister h1 { 
	display:block; width:100%; height:auto; font-size:15px; color:#FFF; text-transform:uppercase; text-align:center; padding:15px 0; margin:0;
	
	-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -moz-border-radius-bottomright:0px; -moz-border-radius-bottomleft:0px; -webkit-border-radius:5px 5px 0px 0px; border-radius:5px 5px 0px 0px;
	background:#4e4e4e; background:-moz-linear-gradient(top, #4e4e4e 0%, #2e2e2e 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e4e4e), color-stop(100%,#2e2e2e)); 
	background:-webkit-linear-gradient(top, #4e4e4e 0%,#2e2e2e 100%); background:-o-linear-gradient(top, #4e4e4e 0%,#2e2e2e 100%); background:-ms-linear-gradient(top, #4e4e4e 0%,#2e2e2e 100%); 
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#2e2e2e',GradientType=0 ); background:linear-gradient(top, #4e4e4e 0%,#2e2e2e 100%);
}
/*#frmregister h1 img { position:relative; margin:0 0 -6px 0; }
#frmregister p, #frmregister table tr { display:block; margin:0; height:50px;}
#frmregister p label, #frmregister table tr td label { display:block; width:90px; padding:0px 10px 0px 0; margin:10px 0 0 0; text-align:right; float:left; color:#999; }
#frmregister p input, #frmregister table tr td input { 
	display:block; width:290px; height:auto; border:1px solid #DDD; padding:10px 15px 10px 15px; margin:10px auto 0 auto;
	background-color:#FFF; background-position:6px 4px; background-repeat:no-repeat; color:#333; float:left;
	
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; 
	-webkit-box-shadow: 0px 0px 3px 0px #23a8e0; -moz-box-shadow:0px 0px 3px 0px #23a8e0; box-shadow:0px 0px 3px 0px #23a8e0;
}*/
#frmregister p input:focus { color:#000; }
#frmregister p input.username { background-image:url('../../img/auth/icn-username.jpg'); }
#frmregister p input.password { background-image:url('../../img/auth/icn-password.jpg'); }

#frmregister .buttonbar { display:block; width:315px; margin:0 auto; text-align:center; margin-top: 10px;}
#frmregister .buttonbar input {
	display:block; width:150px; font-size:14px; color:#ffffff; padding:10px 0; border:1px solid #CCC; margin:10px 3px 15px 3px; cursor:pointer;
	background:-moz-linear-gradient(top, #42b2e2 0%, #1e8fbf); background:-webkit-gradient(linear, left top, left bottom, from(#42b2e2), to(#1e8fbf));
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px 0px #CCC; -moz-box-shadow:0px 0px 3px 0px #CCC; box-shadow:0px 0px 3px 0px #CCC;
	text-shadow: 0px 1px 1px #333; float:left;
}
#frmregister .buttonbar input:hover { text-shadow: 0px -1px -1px #333; }

#frmregister .buttonbar a.button {
	display:block; width:150px; font-size:14px; color:#ffffff; padding:10px 0; border:1px solid #CCC; margin:10px 3px 15px 3px; cursor:pointer;
	background:-moz-linear-gradient(top, #42b2e2 0%, #1e8fbf); background:-webkit-gradient(linear, left top, left bottom, from(#42b2e2), to(#1e8fbf));
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px 0px #CCC; -moz-box-shadow:0px 0px 3px 0px #CCC; box-shadow:0px 0px 3px 0px #CCC;
	text-shadow: 0px 1px 1px #333; text-decoration:none; text-align:center; float:left; font-size:14px; line-height:normal;
}
#frmregister .buttonbar a.button:hover { text-shadow: 0px -1px -1px #333; }


#frmregister .feedback { width:400px; height:auto; background:#FF0000; margin:0 0 5px 0; padding:10px 10px 10px 40px; }
#frmregister .feedback.error { background:#FFF7B4 url('../../img/icons/error.png') no-repeat 10px 10px; }
#frmregister .feedback.succes { background:#B4EDAD url('../../img/icons/accept.png') no-repeat 10px 10px; }

#frmregister table tr td{
    color: #999999;
    margin: 10px 0 0;
    padding: 8px 10px 8px 0;
    text-align: right;
}

/* BOOTSTRAP */

input,
textarea,
select,
.uneditable-input {
display: inline-block;
/*width: 210px;*/
height: 18px;
padding: 4px;
font-size: 12px;
line-height: 18px;
color: #808080;
border: 1px solid #ccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input,
textarea,
select,
.uneditable-input {
  display: inline-block;
/*  width: 210px;*/
  height: 18px;
  padding: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn img{
	height: 16px !important;
	width: 16px !important;
	vertical-align: middle;
	margin: 0;
	margin-right: 0px !important;
	padding: 0;
	float: none !important;
	margin-top: -5px !important;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.primary {
  color: #ffffff;
  background-color: #1E8FBF;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#42B2E2), to(#1E8FBF));
  background-image: -moz-linear-gradient(top, #42B2E2, #1E8FBF);
  background-image: -ms-linear-gradient(top, #42B2E2, #1E8FBF);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42B2E2), color-stop(100%, #1E8FBF));
  background-image: -webkit-linear-gradient(top, #42B2E2, #1E8FBF);
  background-image: -o-linear-gradient(top, #42B2E2, #1E8FBF);
  background-image: linear-gradient(top, #42B2E2, #1E8FBF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42B2E2', endColorstr='#1E8FBF', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}

.frmregister p label, .frmlostpassword p label { display:block !important; padding-left: 25px; margin-top: 10px; }
.frmregister p input { margin-top:3px !important; }
.frmregister p input, .frmlostpassword p input { padding: 10px 50px 10px 5px !important;}

