* {
margin: 0;
padding: 0;
}
html,body {
margin: 0;
padding: 0;
height: 100%;
}
body {
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: normal;
line-height: 18px;
color: #404040;
min-width: 1050px;
}


/* --- STRUCTURE --- */
#wrapper {
width: auto;
/*min-width: 1020px;*/
/*min-height: 100%;*/
height: auto !important;
/*height: 100%;*/
padding-top: 20px;
padding-left: 15px;
}
#wrapper.iframe {
min-width: 600px;
width: 670px;
}


#contentwrapper .subbar {
display: block;
width: 100%;
height: 35px;
background: transparent url('../img/bg_subbar.png') repeat-x top left;
padding: 11px 0 0 0;
}
#contentwrapper .subbar a {
margin: 0 10px;
float: left;
padding: 0 10px;
}
#contentwrapper .subbar a:hover {
text-decoration: underline;
}
#contentwrapper .subbar .spacer {
display: block;
float: left;
width: 310px;
position: relative;
z-index: -1;
}
#contentwrapper #sidebar .subbar {
text-indent: 0;
padding: 11px 0 0 10px;
width: 285px;
}
#contentwrapper #sidebar .subbar .name {
}
#contentwrapper #sidebar .subbar .eventstatus {
display: none;
}

#contentwrapper .onoff {
display: inline-block;
/*width: 82px;*/
height: 28px;
background-image: url('../img/btn-onoff.png');
background-repeat: no-repeat;
border: none;
margin: 15px 10px 0 0;
float: right;
padding: 0;
}
#contentwrapper .onoff.activate {
/*background-position: -82px 0px;*/
}
#contentwrapper .onoff.deactivate {
background-position: 0px 0px;
}
#contentwrapper .onoff span {
display: none;
}

#contentwrapper .venue .onoff, #contentwrapper .event_wrapper .onoff  {
display: inline-block;
/*width: 82px;*/
height: 28px;
background-image: url('../img/btn-onoff.png');
background-repeat: no-repeat;
border: none;
margin: -25px 10px 0 0;
float: right;
padding: 0;
}
#contentwrapper .venue .onoff.activate, #contentwrapper .event_wrapper .onoff.activate  {
/*background-position: -82px 0px;*/
}
#contentwrapper .venue .onoff.deactivate, #contentwrapper .event_wrapper .onoff.deactivate {
background-position: 0px 0px;
}
#contentwrapper .venue .onoff span, #contentwrapper .event_wrapper .onoff span {
display: none;
}

div.jqplot-table-legend-swatch {
	min-width: 40px;
}