
/* Float Clearing
---------------------------------------------------------------------*/
/*content:".";*/
.module:after { clear:both;  display:block; height:0; visibility:hidden; }

/* float clearing for IE6 */
* html .module { height:1%; overflow:visible; }

/* float clearing for IE7 */
* + html .module { min-height:1%; }

/* Breadcrumb Styles
---------------------------------------------------------------------*/
.breadCrumb {
  margin: 0 0 18px;
  padding: 7px 0px;
  background-color: #f5f5f5;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.breadCrumb ul { margin:0; padding:0; height:21px; display:block; margin-left:7px; }
.breadCrumb ul li { display:block; float:left; position:relative; height:21px; overflow:hidden; line-height:21px; margin:0px 6px 0px 0; padding:0px 10px 0px 0; font-size:.9167em; background:url('../img/crumbs/Chevron.gif') no-repeat 100% 0; }
.breadCrumb ul li div.chevronOverlay { position:absolute; right:0; top:0; z-index:2; }
.breadCrumb ul li span { display:block; overflow:hidden; }
.breadCrumb ul li a { display:block; position:relative; height:21px; line-height:21px; overflow:hidden; float:left; color: #23a8e0;}
.breadCrumb ul li a:hover { border-bottom:1px black dotted; }
.breadCrumb ul li.first a { height:16px !important; text-indent:-1000em; width:16px; padding:0; margin-top:2px; overflow:hidden; background:url('../img/crumbs/IconHome.gif') no-repeat 0 0; border-bottom: none; text-decoration: none;
}
.breadCrumb ul li.first a:hover { background-position:0 -16px; }
.breadCrumb ul li.last { background:none; margin-right:0; padding-right:0; color: gray;}
.breadCrumb ul li.last a{color: gray;}
.chevronOverlay { display:none; background:url('../img/crumbs/ChevronOverlay.png') no-repeat 100% 0; width:13px; height:20px; }
