.pQp{
	width:100%;
	text-align:center;
	position:fixed;
	bottom:0;
	z-index: 99999;
}

#pQp {
	margin:0 auto;
	width:85%;
	min-width:960px;
	background-color:#222;
	border:12px solid #000;
	border-bottom:none;
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
}

.trace {
	cursor:pointer;
}

.trace:hover {
	text-decoration:underline;
}

.pQp table {
	margin-bottom: 0px;
}

#pQp .pqp-box h3 {
	font-weight:normal;
	line-height:200px;
	padding:0 15px;
	color:#fff;
}
.pQp, .pQp td{
	color:#444;
}

/* ----- IDS ----- */

#pqp-metrics{
	background:#000;
	width:100%;
	cursor:pointer;
}
#pqp-console {
	/*background:url(../img/pqp/overlay.gif); Iwan - generates fatal errors when debugbar used on mijnevent.be */
	border-top:1px solid #ccc;
	height:600px;
	overflow:auto;
}

/* ----- Colors ----- */

.pQp .green{color:#588E13 !important;}
.pQp .gray {color:#736D6B !important;}
.pQp .blue{color:#3769A0 !important;}
.pQp .purple{color:#953FA1 !important;}
.pQp .orange{color:#D28C00 !important;}
.pQp .red{color:#B72F09 !important;}

#pqp-metrics td{
	text-align:center;
	cursor:pointer;
	border:1px solid #000;
	border-bottom:6px solid #444;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
}

#pqp-metrics td:hover{
	background:#222;
	border-bottom:6px solid #777;
}

#pqp-metrics .green{
	border-left:none;
}

#pqp-metrics .red{
	border-right:none;
}

#pqp-metrics h4{
	text-shadow:#000 1px 1px 1px;
}

.pQp var{
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	margin:0 0 3px 0;
	display:block;
}
.pQp h4{
	font-size:12px;
	color:#fff;
	margin:0 0 4px 0;
}

/* ----- Main ----- */

.pQp .main{
	width:100%;
}
*+html .pQp .main{
	width:78%;
}
* html .pQp .main{
	width:77%;
}
.pQp .main td{
	padding:7px 15px;
	text-align:left;
	background:#151515;
	border-left:1px solid #333;
	border-right:1px solid #333;
	border-bottom:1px dotted #323232;
	color:#FFF;
}
.pQp .main td, pre{
	font-family:Monaco, "Consolas", "Lucida Console", "Courier New", monospace;
	font-size:11px;
}
.pQp .main td.alt{
	background:#111;
}
.pQp .main tr.alt td{
	background:#2E2E2E;
	border-top:1px dotted #4E4E4E;
}
.pQp .main tr.alt td.alt{
	background:#333;
}
.pQp .main td b{
	float:right;
	font-weight:normal;
	color:#E6F387;
}
.pQp .main td:hover{
	background:#2E2E2E;
}


/* ----- Console ----- */
#pqp-console .main table{
	width:100%;
}
#pqp-console td div{
	width:100%;
	overflow:hidden;
}
#pqp-console td.type{
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
	text-align:center;
	text-transform: uppercase;
	font-size:9px;
	padding-top:9px;
	color:#F4FCCA;
	vertical-align:top;
	width:40px;
}
.pQp .log-info td.type{
	background:#47740D !important;
}
.pQp .log-error td.type{
	background:#9B2700 !important;
}
.pQp .log-warning td.type{
	background:#D28C00 !important;
}
.pQp .log-memcache td.type{
	background:#2B5481 !important;
}
.pQp .log-status td.type{
	background:#953FA1 !important;
}
.pQp .log-filecache td.type{
	background:#2B5481 !important;
}
.pQp .log-solr td.type{
	background:#736D6B !important;
}
.pQp .log-query td.type{
	background:#953FA1 !important;
}

.pQp .log-info pre{
	color:#999;
}
.pQp .log-info td:hover pre{
	color:#fff;
}

.pQp .log-warning em, .pQp .log-memcache em{
	float:left;
	font-style:normal;
	display:block;
	color:#fff;
}
.pQp .log-warning pre, .pQp .log-memcache pre{
	float:right;
	white-space: normal;
	display:block;
	color:#FFFD70;
}

.debug-message {
	max-width:300px;
	overflow-x: auto;
	overflow-y: hidden;
}

.pQp .details {
	min-width: 80px;
	vertical-align: top;
	white-space: normal;
	color:#FFFD70 !important;
}
