img { -ms-interpolation-mode:bicubic; }

.apps .app a.edit, .apps .app a.manage, .apps .app a.build, .apps .app a.delete { 
	position:relative; 
	/*margin-top:-33px;*/
	border-style: solid;
	border-width:1px;
	border-color:#DDDDDD;
}
.apps .app h1 {margin-top:12px;}

.modules .module.active a.delete {
    background-image: url("../img/btn-onoff-22.png") !important;
    border-bottom: 0 none;
    height: 22px;
    text-decoration: none;
    width: 64px;
	/*margin-top:-25px;*/
}
.modules .module .activate {
    float: right;
}
.modules .module.inactive a.add {
    background-image: url("../img/btn-onoff-22.png") !important;
    background-position: -64px 0;
    border-bottom: 0 none;
    height: 22px;
    text-decoration: none;
    width: 64px;
	/*margin-top:-20px;*/
}

.eventactive { float:left; margin-top:20px; }
#listview_filter {
    float: right;
    height: 35px;
    margin-top: 0px;
}
#listview_length {
    float: left;
    height: 30px;
    margin-top: 0px;
    width: 300px;
}

.btn.primary {
	border:none;
	margin-right: 5px;
}


.frmAddTag {
	display:none; 
	position:fixed; 
	bottom:100px; 
	margin:auto; 
	left:auto; 
	padding:20px; 
	background-color:#474747; 
	z-index:1000; 
	color:#FFFFFF; 
}

.editTagImg, .editTagA h1 {
	margin-top:20px;
}

.editTagA {
	float:left;
	width: 600px;
}

#contentwrapper .venue .onoff, #contentwrapper .event_wrapper .onoff {
	margin: -25px 10px 0 0;
}
.event_wrapper {
    min-height: 57px;
    padding: 15px 10px;
}

.events a.edit {
    float: right;
    margin-top: -27px;
}

.frmsessions {
	padding-bottom:100px;
	background: none repeat scroll 0 0 #F6F5F5;
	background-color:#F6F5F5;
	padding:10px;
}

#contentwrapper {
/*	border-style: solid;
	border-width:1px;
	border-color:#DDDDDD;*/
}

.menuApp {
	border:none !important;
}

#ienotification {
	width:100%;
	display:block;
	height:20px;
	background-color: #24a8df;
	color:#FFFFFF;
	clear:both;
}