img { -ms-interpolation-mode:bicubic; }

.apps .app a.edit, .apps .app a.manage, .apps .app a.build { position:relative; margin-top:-23px; }

.modules { }
.modules .module { display:block; border:none; background:#FFF; padding:10px 10px 10px 35px; margin-top:2px; }
.modules .module span { position:absolute; }
.modules .module.active { background:#FFF url('../img/active_status.png') no-repeat 5px -20px; }
.modules .module.inactive { background:#FFF url('../img/active_status.png') no-repeat 0px 0px; }
.modules .module .activate { float:right; }