* {
margin: 0;
padding: 0;
}
html,body {
margin: 0;
padding: 0;
height: 100%;
}
body {
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: normal;
line-height: 18px;
color: #404040;
min-width: 1050px;
}

ul {
margin-left: 20px;
}
table td {
font-size: 14px;
}
table td a {
color: #000;
text-decoration: none;
}
table tbody tr td a {
border: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-weight: normal;
font-style: normal;
font-size: 100%;
line-height: 1;
font-family: inherit;
}

h1{
	font-size: 30px;
	margin-bottom: 10px;
}

h2{
	font-size: 25px;
	margin-bottom: 20px;
}

h3 {
font-size: 22px;
}

h3, h4, h5, h6 {
line-height: 36px;
}

h1, h2, h3, h4, h5, h6 {
font-weight: bold;
color: #000000;
}

a {
text-decoration: none;
border-bottom: 1px black dotted;
color: black;
cursor: pointer;
cursor: hand;
}
a.disabled {
opacity: 0.4;
filter: alpha(opacity=40);
}
p {
}
input {
border: 1px solid #666;
padding: 6px;
font-size: 12px;
outline: none;
}
button {
cursor: pointer;
cursor: hand;
}
.btn {
/*border-bottom: none;*/
}
.note {
font-style: italic;
color: #666;
font-size: 11px;
font-weight: normal;
}
div.buttonbar {
/* display: block; */
/* width: auto; */
float: right;
min-height: 60px;
/* margin-right: 27px; */
}

h1 a {
border: 0;
}
h1 input {
font-size: 24px;
font-weight: bold;
font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", sans-serif;
float: left;
outline: none;
border: none;
border-bottom: 1px dotted #CCC;
margin-right: 5px;
padding: 0 6px;
}

button.button, a.button {
background: transparent url('../img/bg_button_a.png') no-repeat scroll top right;
color: #444;
display: block;
float: left;
font: normal 12px arial, sans-serif;
height: 24px;
margin-right: 6px;
padding-right: 18px; /* sliding doors padding */ text-decoration: none;
border: none;
}
button.button span, a.button span {
background: transparent url('../img/bg_button_span.png') no-repeat;
display: block;
line-height: 14px;
padding: 5px 0 5px 18px;
}
button.button span.span_img, a.button span.span_img {
height: 14px;
}
button:hover.button, a:hover.button {
background-position: right -24px;
color: #000;
}
button:hover.button span, a:hover.button span {
background-position: 0 -24px;
color: #000;
}

/* --- STRUCTURE --- */
#wrapper {
width: auto;
/*min-width: 1020px;*/
/*min-height: 100%;*/
height: auto !important;
/*height: 100%;*/
background: url('../img/wrapperbg.png') center top repeat-x;
margin-top: -19px;
padding-top: 15px;
}
#wrapper.iframe {
min-width: 600px;
width: 670px;
}

#header #logo a {
border: none;
}

#header #navigation {
display: inline;
height: 32px;
position: absolute;
right: 6px;
top: 11px;
padding-right: 2px;
border: 1px solid #3a3a3a;
border-bottom-width: 2px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
#header #navigation li {
display: inline;
list-style: none;
width: 40px;
height: 30px;
border: none;
color: #FFF;
float: left;
}
#header #navigation li a {
display: block;
width: 40px;
height: 30px;
border: none;
border: 1px solid #6c6a6b;
border-right: 1px solid #504c4d;
border-left: 1px solid #504c4d;
background: transparent;

}
#header #navigation li a span {
text-decoration: none;
color: white;
border: none;
}
#header #navigation li a.first {
border-left: 1px solid #6c6a6b;
-moz-border-radius-topleft: 7px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 7px;
-webkit-border-radius: 7px 0px 0px 7px;
border-radius: 7px 0px 0px 7px;
}
#header #navigation li a.last {
border-right: 1px solid #6c6a6b;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 0px 7px 7px 0px;
border-radius: 0px 7px 7px 0px;
}

.subbar a {
text-transform: uppercase;
font-size: 14px;
border: none;
}
#contentwrapper .subbar {
display: block;
width: 100%;
height: 35px;
background: transparent url('../img/bg_subbar.png') repeat-x top left;
padding: 11px 0 0 0;
}
#contentwrapper .subbar a {
margin: 0 10px;
float: left;
padding: 0 10px;
}
#contentwrapper .subbar a:hover {
text-decoration: underline;
}
#contentwrapper .subbar .spacer {
display: block;
float: left;
width: 310px;
position: relative;
z-index: -1;
}
#contentwrapper #sidebar .subbar {
text-indent: 0;
padding: 11px 0 0 10px;
width: 285px;
}
#contentwrapper #sidebar .subbar .name {
}
#contentwrapper #sidebar .subbar .eventstatus {
display: none;
}

.eventstatus strong{
	font-style: italic;
}
#contentwrapper .onoff {
display: inline-block;
/*width: 82px;*/
height: 28px;
background-image: url('../img/btn-onoff.png');
background-repeat: no-repeat;
border: none;
margin: 15px 10px 0 0;
float: right;
padding: 0;
}
#contentwrapper .onoff.activate {
/*background-position: -82px 0px;*/
}
#contentwrapper .onoff.deactivate {
background-position: 0px 0px;
}
#contentwrapper .onoff span {
display: none;
}

#contentwrapper .venue .onoff, #contentwrapper .event_wrapper .onoff  {
display: inline-block;
/*width: 82px;*/
height: 28px;
background-image: url('../img/btn-onoff.png');
background-repeat: no-repeat;
border: none;
margin: -25px 10px 0 0;
float: right;
padding: 0;
}
#contentwrapper .venue .onoff.activate, #contentwrapper .event_wrapper .onoff.activate  {
/*background-position: -82px 0px;*/
}
#contentwrapper .venue .onoff.deactivate, #contentwrapper .event_wrapper .onoff.deactivate {
background-position: 0px 0px;
}
#contentwrapper .venue .onoff span, #contentwrapper .event_wrapper .onoff span {
display: none;
}

/* TOPBAR */
.topbar {
  height: 40px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  background: #111;
  background: -webkit-gradient(linear,left top,left bottom,from(#111),to(#333));
  background: -moz-linear-gradient(top,#111,#333);
  background: transparent	9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111',endColorstr='#333333');
  border-top: 1px solid #333;
}
.topbar a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-bottom: 0px;
}
.topbar h3 a:hover, .topbar .brand a:hover, .topbar ul .active > a {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  text-decoration: none;
}
.topbar h3 {
  position: relative;
}
.topbar h3 a, .topbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}
.topbar p {
  margin: 0;
  line-height: 40px;
}
.topbar p a:hover {
  background-color: transparent;
  color: #ffffff;
}
.topbar form {
  float: left;
  margin: 5px 0 0 0;
  position: relative;
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.topbar form.pull-right {
  float: right;
}
.topbar input {
  background-color: #444;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: normal;
  font-weight: 13px;
  line-height: 1;
  padding: 4px 9px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid #111;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.topbar input:-moz-placeholder {
  color: #e6e6e6;
}
.topbar input::-webkit-input-placeholder {
  color: #e6e6e6;
}
.topbar input:hover {
  background-color: #bfbfbf;
  background-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}
.topbar input:focus, .topbar input.focused {
  outline: 0;
  background-color: #ffffff;
  color: #404040;
  text-shadow: 0 1px 0 #ffffff;
  border: 0;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.topbar-inner{
	width: 1030px;
	margin: auto;
	display: block;
}
.topbar-inner, .topbar .fill {
  background-color: #222;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.topbar div > ul, .nav {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  left: 0;
}
.topbar div > ul > li, .nav > li {
  display: block;
  float: left;
}
.topbar div > ul a, .nav a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
}
.topbar div > ul a:hover, .nav a:hover {
  color: #ffffff;
  text-decoration: none;
}
.topbar div > ul .active > a, .nav .active > a {
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);
}
.topbar div > ul.secondary-nav, .nav.secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.topbar div > ul.secondary-nav .menu-dropdown,
.nav.secondary-nav .menu-dropdown,
.topbar div > ul.secondary-nav .dropdown-menu,
.nav.secondary-nav .dropdown-menu {
  right: 0;
  border: 0;
}
.topbar div > ul a.menu:hover,
.nav a.menu:hover,
.topbar div > ul li.open .menu,
.nav li.open .menu,
.topbar div > ul .dropdown-toggle:hover,
.nav .dropdown-toggle:hover,
.topbar div > ul .dropdown.open .dropdown-toggle,
.nav .dropdown.open .dropdown-toggle {
  background: #444;
  background: rgba(255, 255, 255, 0.05);
}
.topbar div > ul .menu-dropdown,
.nav .menu-dropdown,
.topbar div > ul .dropdown-menu,
.nav .dropdown-menu {
  background-color: #333;
}
.topbar div > ul .menu-dropdown a.menu,
.nav .menu-dropdown a.menu,
.topbar div > ul .dropdown-menu a.menu,
.nav .dropdown-menu a.menu,
.topbar div > ul .menu-dropdown .dropdown-toggle,
.nav .menu-dropdown .dropdown-toggle,
.topbar div > ul .dropdown-menu .dropdown-toggle,
.nav .dropdown-menu .dropdown-toggle {
  color: #ffffff;
}
.topbar div > ul .menu-dropdown a.menu.open,
.nav .menu-dropdown a.menu.open,
.topbar div > ul .dropdown-menu a.menu.open,
.nav .dropdown-menu a.menu.open,
.topbar div > ul .menu-dropdown .dropdown-toggle.open,
.nav .menu-dropdown .dropdown-toggle.open,
.topbar div > ul .dropdown-menu .dropdown-toggle.open,
.nav .dropdown-menu .dropdown-toggle.open {
  background: #444;
  background: rgba(255, 255, 255, 0.05);
}
.topbar div > ul .menu-dropdown li a,
.nav .menu-dropdown li a,
.topbar div > ul .dropdown-menu li a,
.nav .dropdown-menu li a {
  color: #999;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.topbar div > ul .menu-dropdown li a:hover,
.nav .menu-dropdown li a:hover,
.topbar div > ul .dropdown-menu li a:hover,
.nav .dropdown-menu li a:hover {
  background-color: #191919;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#292929), to(#191919));
  background-image: -moz-linear-gradient(top, #292929, #191919);
  background-image: -ms-linear-gradient(top, #292929, #191919);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #191919));
  background-image: -webkit-linear-gradient(top, #292929, #191919);
  background-image: -o-linear-gradient(top, #292929, #191919);
  background-image: linear-gradient(top, #292929, #191919);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#191919', GradientType=0);
  color: #ffffff;
}
.topbar div > ul .menu-dropdown .active a,
.nav .menu-dropdown .active a,
.topbar div > ul .dropdown-menu .active a,
.nav .dropdown-menu .active a {
  color: #ffffff;
}
.topbar div > ul .menu-dropdown .divider,
.nav .menu-dropdown .divider,
.topbar div > ul .dropdown-menu .divider,
.nav .dropdown-menu .divider {
  background-color: #222;
  border-color: #444;
}
.topbar ul .menu-dropdown li a, .topbar ul .dropdown-menu li a {
  padding: 4px 15px;
}

.topbar .dropdown .dropdown-toggle img{
	height: 16px;
	width: 16px;
}

li.menu, .dropdown {
  position: relative;
}
.menu-dropdown, .dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 0 0 0 47px;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.menu-dropdown li, .dropdown-menu li {
  float: none;
  display: block;
  background-color: none;
}
.menu-dropdown .divider, .dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #eee;
  border-bottom: 1px solid #ffffff;
}
.topbar .dropdown-menu a, .dropdown-menu a {
  border-bottom:none;
  display: block;
  padding: 4px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #808080;
  text-shadow: 0 1px 0 #ffffff;
}
.topbar .dropdown-menu a:hover, .dropdown-menu a:hover {
  border-bottom:none;
  background-color: #0081C2;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
  color: #404040;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
}
.open .menu,
.dropdown.open .menu,
.open .dropdown-toggle,
.dropdown.open .dropdown-toggle {
/*  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);*/
}
.open .menu-dropdown,
.dropdown.open .menu-dropdown,
.open .dropdown-menu,
.dropdown.open .dropdown-menu {
  display: block;
}

/* SIDEBAR */
#sidebar #tabs {
border: none;
background: none;
padding: 0;
margin: 0;
margin: -1px;
}
#sidebar #tabs .tab {
border: none;
background: none;
padding: 0;
margin: 0;
padding: 0 10px;
margin-top: 20px;
}
#sidebar #tabs ul.tabbar {
border: none;
background: none;
padding: 0;
width: 300px;
height: 50px;
font-weight: normal;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
display: none;
}
#sidebar #tabs ul.tabbar li {
margin: 0;
padding: 0;
border: none;
text-align: center;
width: 150px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border: none;
height: 60px;
}
#sidebar #tabs ul.tabbar li a {
display: block;
width: 100%;
padding: 15px 0;
border: none;
text-transform: uppercase;
text-indent: 20px;
font-size: 14px;
text-align: center;
}
#sidebar #tabs ul.tabbar li a:hover {
background: none;
}
#sidebar #tabs ul.tabbar li.ui-state-hover {
background: none;
}
#sidebar #tabs ul.tabbar li.ui-state-active {
background: none;
}
#sidebar #tabs ul.tabbar li.ui-state-active a {
color: #23A8E0;
}

#sidebar #tabs ul.tabbar li.left {
background: transparent url('../img/tabs_bg.png') no-repeat top left;
}
#sidebar #tabs ul.tabbar li.right {
background: transparent url('../img/tabs_bg.png') no-repeat bottom right;
}
#sidebar #tabs ul.tabbar li.ui-state-active.left {
background: transparent url('../img/tabs_bg.png') no-repeat bottom left;
}
#sidebar #tabs ul.tabbar li.ui-state-active.right {
background: transparent url('../img/tabs_bg.png') no-repeat top right;
}

#sidebar ul li .head{
	font-size: 13px;
	color: #23a8e0;
	line-height: 36px;
	font-weight: bold;
}

#content {
float: left;
/* width: 660px; */
height: auto;
margin: auto;
padding-left: 15px;
padding-top: 25px;
margin: 0 0 0 15px;
background: #fff;
min-height:auto;
}

#content.iframe {
margin-left: 0;
min-width: 670px;
}

#content a.add{
	float: right;
}

.push {
margin: 0;
height: 20px;
width: 99%;
}
#footer {
width: 100%;
height: 20px;
margin: 0 auto;
text-align: center;
padding: 10px 0 0 0;
color: #CCC;
font-size: 14px;
background-color: #555;
-webkit-border-bottom-right-radius: 5px;
-moz-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
}
html>body #footer {
padding: 10px 0 10px 0;
}
#footer a {
color: #CCC;
border: none;
font-size: 14px;
}
#footer a:hover {
color: #BBB;
}

#listview_length{
	width: 300px;
	height: 30px;
	float: left;
	margin-top: -40px;
}

#listview_filter, #listview_analytics_filter, #listview_speakers_filter{
	height: 35px;
	float: right;
	margin-top: -40px;
}

/* --- CONTENTSTYLE --- */
h1.eventname {
display: inline-block;
float: left;
margin-right: 15px;
font-size: 35px;
}
h1.eventname button {
margin-top: 6px;
}

.img_cell {
width: 20px;
}

#menu ul {
list-style-type: none;
}
#menu ul li {
border-left: 1px #444 solid;
border-right: 1px #444 solid;
color: white;
height: 40px;
float: left;
margin-top: -16px;
padding-top: 16px;
padding-left: 25px;
padding-right: 25px;
font-weight: bold;
}
#menu ul li a {
text-decoration: none;
color: white;
}
#menu ul li .selected {
border-bottom: 2px solid #e21a22;
}
a.questions.onoff.activate {
background-image: url('../img/btn-onoff-22.png') !important;
background-position: -64px 0;
width: 64px;
border-bottom: 0px;
height: 22px;
margin:0 !important;
float:left !important;
}
a.questions.onoff.deactivate {
background-image: url('../img/btn-onoff-22.png') !important;
background-position: 0 0;
width: 64px;
border-bottom: 0px;
height: 22px;
margin:0 !important;
float:left !important;
}
.modules .module.inactive a.add, .event_wrapper a.onoff.activate {
background-image: url('../img/btn-onoff-22.png') !important;
background-position: -64px 0;
width: 64px;
text-decoration: none;
border-bottom: 0px;
height: 22px;
margin-right:20px;
}
.modules .module.active a.delete, .event_wrapper a.onoff.deactivate {
background-image: url('../img/btn-onoff-22.png') !important;
width: 64px;
text-decoration: none;
border-bottom: 0px;
height: 22px;
margin-right:20px;
}
.eventlistapp .event_wrapper a.onoff.deactivate, .eventlistapp .event_wrapper a.onoff.activate {
  margin-top: 19px !important;
}

div.feedback {
background: #B4EDAD url('../img/icons/accept.png') no-repeat 10px 10px;
color: #333;
padding: 10px 10px 10px 35px;
}
div.error {
background: #F8AEAC url('../img/icons/exclamation.png') no-repeat 10px 10px;
color: #333;
padding: 0 10px 2px 35px;
}
div.error p, .frmsessions form div.error p {
  min-height: 10px !important;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:0px;
}
/*
div.credits {
background: #FFFBAC url('../img/icons/coins.png') no-repeat 10px 10px;
color: #333;
padding: 10px 10px 10px 35px;
}

/* ### LOGIN REGISTER ### */
#login_form .error {
width: 440px;
margin-top: 10px;
}
#login_form .feedback {
width: 440px;
margin-top: 10px;
}
#login_form form .error {
width: 675px;
margin-top: 0px;
}
#login_form form .error input {
width: 345px;
border-left: 5px solid #F8AEAC;
}

form.register {
width: 675px;
margin-top: 15px;
}
form.login {
width: 675px;
margin-top: 15px;
}

form.register p {
display: block;
width: 675px;
height: 40px;
clear: both;
}
form.login p {
display: block;
width: 675px;
height: 40px;
clear: both;
}

form.register label {
width: 120px;
float: left;
padding: 3px 0;
}
form.login label {
width: 120px;
float: left;
padding: 3px 0;
}
form.register input {
width: 350px;
float: left;
border: none;
border-bottom: 1px dotted #999;
}
form.login input {
width: 350px;
float: left;
border: none;
border-bottom: 1px dotted #999;
}

form.register .buttonbar {
text-align: right;
display: block;
width: 490px;
}
form.register #registerbtn {
float: right;
}

form.login .buttonbar {
text-align: left;
display: block;
width: 490px;
}
form.login .buttonbar a {
display: block;
float: left;
margin: 0 10px 0 0;
}
form.login #loginbtn, form.login #recoverybtn {
float: right;
}

/* VENUE */

.venue{
	clear: both;
	display: block;
	width: auto;
	height: 75px;
	border-top: 1px solid #DDD;
	/*background: #F5F5F5;*/
	margin: 0 0 5px 0;
	padding: 5px 10px;
}

.venue h1{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 7px;
}

.venue img{
	float: left;
	margin-right: 7px;
	margin-top: 15px;
}

.venue .event{
	display: block;
	width: 450px;
	border-bottom: 0px;
	padding: 0;
	margin: 0;
	margin-bottom: 3px;
}

.venue .event:hover{
	background-color: whiteSmoke !important;
}



.venue a{

}


.venue .eventlogo{

}

/* ### APPS ### */
.apps {
}
.apps .app {
clear: both;
display: block;
width: auto;
height: 37px;
border-top: 1px solid #DDD;
/*background: #F5F5F5;*/
margin: 0 0 5px 0;
padding: 5px 10px;
}
.apps .app h1 {
font-size: 20px;
display: inline-block;
font-weight: bold;
margin-top: 10px;
}
.apps .app img {
float: left;
margin-right: 7px;
/*margin-top: 5px;*/
}
.apps .app img.customAppIcon {
  margin-top: 8px;
}
.apps .app .todo {
margin: 5px 0 0 0;
background: transparent url('../img/icons/exclamation.png') no-repeat 10px 10px;
padding: 10px 10px 10px 35px;
border: 1px dotted #CCC;
}
.apps .app a.edit, .apps .app a.manage, .apps .app a.build, .apps .app a.delete {
background-color: #F6F6F6;
float: right;
margin-left: 5px;
margin-top: 7px;
}


.flavors, .themes {
	margin: 40px 0 0;
	}
	.flavors li {
		list-style: none;
		float: left;
		width: 31%;
		margin: 0 2% 40px 0;
    min-height: 370px;
		}
		.flavors a:hover, .themes a:hover {
			}
			.flavors .title, .themes .title {
				font-size: 18px;
				display: block;
				margin: 0 0 5px;
				}
			.flavors .description, .themes .description {
				color: #999;
				display: block;
				height: 50px;
				font-style: italic;
				}
  .themes li {
    list-style: none;
    float: left;
    width: 31%;
    margin: 0 2% 40px 0;
    }

/* ### LISTVIEW ### */
#listview_wrapper {
    margin-top: 50px;
/*    position: relative;*/
	/*width: 660px;*/
}
#listview_paginate {
	margin-bottom:20px;
}
.listview {
display: block;
clear: both;
/*margin-top: 50px;*/
}

.listview .btn{
	margin-left: 5px;
}

.listview .buttonbar{
	float: right;
	margin: 0;
	margin-bottom: 5px;
	min-height: 30px;
}
/* ### MY EVENTS ### */
.events {
}

.event_wrapper{
	clear: both;
	display: block;
	width: auto;
	min-height: 57px;
	border-top: 1px solid #DDD;
	/*background: #F5F5F5;*/
	margin: 0 0 5px 0;
	padding: 5px 10px;
}

.event_wrapper a.event{
	border-bottom: 0px;
}

.event_wrapper a.edit{
	margin-top: 0px;
}

.events a.event .logo {
float: left;
margin-right: 8px;
}
.events a.event span {
display: block;
font-weight: bold;
font-size: 16px;
margin-top: 5px;
height: 10px;
width: 400px;
}

.events a.event img {
margin: 0px 15px 0 0;
}
.events a.edit {
	vertical-align: center;
	float: right;
	margin-top: -27px;
}

.events a.add{
	float: right;
}

/* ### EVENT DETAIL ### */
.eventactive {
float: left;
margin-top: 20px;
}
.iphone_switch_container {
margin-top: -13px;
}

.todo {
display: block;
background: #FFF;
margin: 0;
padding: 5px 10px 10px 10px;
margin: -10px 0 10px 0;
border: 1px dotted #CCC;
border-left: 10px solid #FF7815;
}
.todo ul {
list-style: none;
list-style-image: url('../img/pic-dash.jpg');
margin: 0 0 0 12px;
padding: 0;
}
.todo ul li {
margin: 0 0 0 5px;
padding: 0;
}

.eventinfo {
background: whiteSmoke;
border-top: 1px solid #DDD;
padding: 15px 10px 10px 10px;
height: auto;
margin-top: 10px;
}
.eventinfo .btn{
float: right;
margin-left: 5px;
}

.eventinfo .button_bar{
	width: 440px;
	margin-top: -33px;
	float: right;
}
.eventlogo {
width: 50px;
height: 50px;
float: left;
margin: 0px 15px 0 0;
}
.eventinfo .eventlogo {
margin: -5px 15px 0 0;
}
.eventlogo img {
width: 50px;
height: 50px;
float: left;
margin: -5px 15px 0 0;
}

.modules {
/*width: 620px;*/
}
.modules .module {
display: block;
border: none;
padding: 20px 0 15px 20px;
margin-bottom: 2px;
height: 20px;
/*width: 100%;*/
border-top: 1px solid #DDD;
background: whiteSmoke;
}
.modules .module .activate {
float: right;
}
.modules .module.active a.editlink, .modules .module.inactive a.editlink, .modules .module.inactive span.editlink {
/*border-bottom: none;
padding: 0 45px 15px 0;
width: 480px;
display: block;
float:left;*/
    border-bottom: medium none;
    display: block;
    float: left;
    height: 40px;
    margin-top: -20px;
    padding: 20px 5px 0 0;
    width: 510px;
}
.modules .module.active a.editimage {
  border-bottom:none;
  padding-right:5px;
  }

.module.active:hover {
  background-color: #DDDDDD;
}

.module a span{
	width: 380px;
}

/* ### ADD EVENT ### */
form.addevent {
margin-top: 10px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
/*background: #F5F5F5;*/
/*padding-left: 10px;*/
padding-top: 10px;
padding-right:20px;
width: 100%;
}
form.addevent fieldset {
/*width: 610px;*/
/*padding: 20px 0px 30px 30px;*/

}
form.addevent p {
/* padding: 10px 0px 10px 0px; */
min-height: 40px;
width: 100%;
}
form.addevent p label {
display: block;
width: 100%;
text-align: left;
color: #000;
padding: 3px;
padding-left:0px;
margin-bottom: 3px;
font-size: 13px;
}
form.addevent p input {
float: left;
font-size: 12px;
width: 100%;
margin-bottom: 5px;
display: block;
}

form.addevent p #w_address{
	width: 480px;
}

form.addevent p select {
display: block;
width: 200px;
background: none;
outline: none;
height: 25px;
background: #FFFFFF;
}
form.addevent p #btnshowonmap{
	width: 90px;
	height: 15px;
	float: left;
	display: block;
	margin-left: 8px;
}

form.addevent #p_address{
	width: 100%;
}

form.addevent #p_address input{
	display: block;
	float: left;
	width: 460px;
}
form.addevent input.error {
width: 545px;
border-left: 5px solid #F8AEAC;
}
form.addevent select.error {
border: 1px solid #F8AEAC;
}
form.addevent p input:hover, .account .data p input:focus {
border-bottom: 1px solid #CCC;
}

form.addevent .logoupload {
width: 540px;
float: left;
margin-left: 10px;
}
form.addevent .evtlogo {
float: left;
width: 50px;
height: 50px;
background-color: #efefef;
}
form.addevent textarea {
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
display: block;
width: 100%;
outline: none;
height: 100px;
padding: 3px;
resize: none;
}
form.addevent textarea:hover, form.addevent textarea:focus {
outline: 0;
border-color: rgba(82, 168, 236, 0.8);
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
form.addevent p input#w_venuestreet {
float: left;
width: 515px;
}
form.addevent p input#w_venuenumber {
float: left;
width: 30px;
margin-left: 15px;
}
form.addevent p input#w_venuezip {
float: left;
width: 100px;
}
form.addevent p input#w_venuetown {
float: left;
width: 445px;
margin-left: 15px;
}
form.addevent p input#w_datefrom {
float: left;
width: 200px;
}
form.addevent p input#w_dateto {
float: left;
width: 200px;
margin-left: 20px;
}

/* BOOTSTRAP */

input,
textarea,
select,
.uneditable-input {
display: inline-block;
/*width: 210px;*/
height: 18px;
padding: 4px;
font-size: 12px;
line-height: 18px;
color: #808080;
border: 1px solid #ccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input,
textarea,
select,
.uneditable-input {
  display: inline-block;
/*  width: 210px;*/
  height: 18px;
  padding-top: 4px;
  padding-bottom:4px;
  padding-left:0px;
  padding-right:0px;
  font-size: 12px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}*/
.btn img{
	height: 16px !important;
	width: 16px !important;
	vertical-align: middle;
	margin: 0;
	margin-right: 0px !important;
	padding: 0;
	float: none !important;
	margin-top: -5px !important;
}
.btn:hover {
  background-position: 0 -15px;
  /*color: #333;*/
  text-decoration: none;
}
/*.btn:focus {
  outline: 1px dotted #666;
}*/
.btn.primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#23a8e0), to(#0064cd));
  background-image: -moz-linear-gradient(top, #23a8e0, #0064cd);
  background-image: -ms-linear-gradient(top, #23a8e0, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23a8e0), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #23a8e0, #0064cd);
  background-image: -o-linear-gradient(top, #23a8e0, #0064cd);
  background-image: linear-gradient(top, #23a8e0, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8e0', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
/*.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}*/
/*.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}*/
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}

/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  font-size: 13px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}
table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
table td {
  vertical-align: top;
}
table th + th, table td + td {
  /*border-left: 1px solid #ddd;*/
}
table tr + tr td {
  border-top: 1px solid #ddd;
}
table tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.zebra-striped tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td {
  background-color: #f5f5f5;
}
table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .blue {
  color: #049cdb;
  border-bottom-color: #049cdb;
}
table .headerSortUp.blue, table .headerSortDown.blue {
  background-color: #ade6fe;
}
table .green {
  color: #46a546;
  border-bottom-color: #46a546;
}
table .headerSortUp.green, table .headerSortDown.green {
  background-color: #cdeacd;
}
table .red {
  color: #9d261d;
  border-bottom-color: #9d261d;
}
table .headerSortUp.red, table .headerSortDown.red {
  background-color: #f4c8c5;
}
table .yellow {
  color: #ffc40d;
  border-bottom-color: #ffc40d;
}
table .headerSortUp.yellow, table .headerSortDown.yellow {
  background-color: #fff6d9;
}
table .orange {
  color: #f89406;
  border-bottom-color: #f89406;
}
table .headerSortUp.orange, table .headerSortDown.orange {
  background-color: #fee9cc;
}
table .purple {
  color: #7a43b6;
  border-bottom-color: #7a43b6;
}
table .headerSortUp.purple, table .headerSortDown.purple {
  background-color: #e2d5f0;
}

.uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}

select{
	height: 26px;
}

/* */
.frmsessions {
/*background: #F6F5F5;*/
padding-right: 15px;
border-radius: 15px 15px 15px 15px;
width:100%;
}
.frmsessions form {
display: block;
padding: 0;
}
.frmsessions form p {
/*padding: 10px;*/
min-height: 45px;
line-height: 100%;
margin-bottom: 15px;
}
.frmsessions form p span, .frmsessions form span {
display: block;
width: 120px;
float: left;
text-align: right;
margin-right: 10px;
font-style: italic;
color: #999;
}
.frmsessions form p span.column {
display: block;
float: left;
width: 100px;
}
.frmsessions form p label {
display: block;
width: 100%;
text-align: left;
color: #000;
/*padding: 3px;*/
margin-bottom: 3px;
}
.frmsessions form p label.wide {
width: 250px;
float: none;
}
.frmsessions form p input {
/* padding: 3px 6px; */
font-size: 12px;
width: 100%;
background: #FFFFFF;
}
form.addevent p.error input, form.addevent p.error select, form.addevent p.error textarea {
/* width: 605px; */
width:100%;
border-left: 5px solid #F8AEAC;
}
.frmsessions form p.error input {
width: 615px;
border-left: 5px solid #F8AEAC;
}
.frmsessions form p select {
display: block;
width: 200px;
background: none;
/*border: 2px solid #CCC;*/
outline: none;
height: 25px;
background: #FFFFFF;
}
.frmsessions form p select.multiple {
display: block;
width: 100%;
background: none #FFFFFF;
border: 2px solid #CCC;
outline: none;
height: 100px;
/*margin-left: 140px;*/
padding: 3px;
resize: none;
}
.frmsessions form p.error select {
border: 1px solid #F8AEAC;
}
.frmsessions form p textarea {
display: block;
width: 100%;
background: none;
border: 1px solid #CCC;
outline: none;
height: 100px;
/* padding: 3px 6px; */
resize: none;
background: #FFFFFF;
}
.frmsessions form p textarea:hover, .account .data p textarea:focus {
border: 1px solid #CCC;
}
.frmsessions form p.error textarea {
border: 1px solid #F8AEAC;
}
.frmsessions form p.small input {
width: 85px;
float: left;
margin-right: 5px;
}
.frmsessions form p.checklist {
}
.frmsessions form p.checklist label.chk {
float: left;
text-align: left;
color: #000;
width:300px;
margin-top: 5px;
}
.frmsessions form p.checklist input[type="checkbox"] {
float: left;
width: 20px;
height: 20px;
margin-top: 5px;
}
.frmsessions form p .logoupload {
width: 460px;
float: left;
margin-left: 10px;
}
.frmsessions form p .evtlogo {
float: left;
display: block;
width: 50px;
height: 50px;
}

form div.row {
width:100%;
min-height: 50px;
}
form div.row label {
display: block;
width: 100%;
text-align: left;
color: #000;
/*padding: 3px;*/
margin-bottom: 3px;
}
form div.row input {
float: left;
border: none;
padding: 3px 6px;
font-size: 12px;
width: 100%;
border-bottom: 1px dotted #CCC;
background: #EDEBEB;
}


/* ### Formbuilder ### */

/* */
.frmformbuilder {
/*background: #F6F5F5;*/
padding: 0;
border-radius: 15px 15px 15px 15px;
padding-right: 15px;
}
.frmformbuilder form {
display: block;
padding: 0;
}
.frmformbuilder form p {
padding: 10px;
min-height: 45px;
line-height: 100%;
}
.frmformbuilder form p span {
display: block;
/*width: 120px;*/
float: left;
text-align: right;
margin-right: 10px;
font-style: italic;
color: #999;
}
.logoupload {
  line-height:auto !important;
}
.frmformbuilder form p span.column {
display: block;
float: left;
width: 100px;
}
.frmformbuilder form p label {
display: block;
width: 100%;
text-align: left;
color: #000;
padding-top: 3px;
padding-bottom: 3px;
margin-bottom: 3px;
}
.frmformbuilder form p label.wide {
width: 250px;
float: none;
}
.frmformbuilder form p input {
/*padding: 3px 6px;*/
font-size: 12px;
width: 100%;
background: #FFFFFF;
}

.frmformbuilder form p.error input {
/*width: 590px;*/
border-left: 5px solid #F8AEAC;
}
.frmformbuilder form p select {
display: block;
width: 200px;
background: none;
/*border: 2px solid #CCC;*/
outline: none;
height: 25px;
background: #FFFFFF;
}
.frmformbuilder form p select.multiple {
display: block;
width: 100%;
background: none #FFFFFF;
border: 2px solid #CCC;
outline: none;
height: 100px;
/*margin-left: 140px;*/
padding: 3px;
resize: none;
}
.frmformbuilder form p.error select {
border: 1px solid #F8AEAC;
}
.frmformbuilder form p textarea {
display: block;
width: 100%;
background: none;
border: 2px solid #CCC;
outline: none;
height: 100px;
padding: 3px 6px;
resize: none;
background: #FFFFFF;
}
.frmformbuilder form p textarea:hover, .account .data p textarea:focus {
border: 2px solid #CCC;
}
.frmformbuilder form p.error textarea {
border: 1px solid #F8AEAC;
}
.frmformbuilder form p.small input {
width: 85px;
float: left;
margin-right: 5px;
}
.frmformbuilder form p.checklist {
}
.frmformbuilder form p.checklist label.chk {
float: left;
text-align: left;
color: #000;
width:300px;
margin-top: 5px;
}
.frmformbuilder form p.checklist input[type="checkbox"] {
float: left;
width: 20px;
height: 20px;
margin-top: 5px;
}
.frmformbuilder form p .logoupload {
width: 460px;
float: left;
margin-left: 10px;
}
.frmformbuilder form p .evtlogo {
float: left;
display: block;
width: 50px;
height: 50px;
}


/* ### Formbuilder ends ### */


/* ### MY ACCOUNT ### */
.account {
}
.account .data {
clear: both;
display: block;
background: #FFF;
}
.account .data p {
border-bottom: 1px #EDEDED dotted;
padding: 10px;
min-height: 25px;
}
.account .data p span {
display: block;
width: 120px;
float: left;
text-align: right;
margin-right: 10px;
font-style: italic;
color: #999;
}
.account .data p label {
display: block;
width: 120px;
float: left;
text-align: right;
margin-right: 10px;
font-style: italic;
color: #999;
padding: 3px;
}
.account .data p input {
float: left;
border: none;
padding: 3px 6px;
font-size: 12px;
width: 530px;
border-bottom: 1px dotted #CCC;
}
.account .data p.error input {
width: 545px;
border-left: 5px solid #F8AEAC;
}
.account .data p input:hover, .account .data p input:focus {
border-bottom: 1px solid #CCC;
}

/* ### SESSIONS ###¨*/
.sessions {/*background:#FFF;*/ padding:1px 10px;
}

/* ### LISTVIEW ### */
th.order {
width: 60px;
}
.groupchooser {
/*position: absolute;*/
/*margin-top: -28px;*/
float:left;
}
.groupchooser .groupselect {
width: 200px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
margin-bottom: 8px;
}
.ui-timepicker-div dl {
text-align: left;
}
.ui-timepicker-div dl dt {
height: 25px;
}
.ui-timepicker-div dl dd {
margin: -25px 0 10px 65px;
}
.ui-timepicker-div td {
font-size: 90%;
}

.map {
    height: 400px;
    margin: 10px 0 20px;
    width: 610px;
}

.mapform_bg {
position: absolute;
margin-top: -500px;
display: none;
width: 700px;
height: 500px;
background: #FFF;
z-index: 15;
}
.mapform {
position: absolute;
display: none;
width: 300px;
height: 150px;
margin: -325px 0 0 185px;
background: #FFF;
z-index: 16;
border: 1px solid #CCC;
padding: 15px;
}
.mapform select {
width: 300px;
}
.mapform select.error {
border: 1px solid #FF0000;
}
.mapform .buttonbar {
margin-top: 10px;
margin-right:0px;
}

.poiform {
position: absolute;
display: none;
width: 300px;
height: 160px;
margin: -325px 0 0 165px;
background: #FFF;
z-index: 16;
border: 1px solid #CCC;
padding: 15px;
}
.poiform label {
display: block;
float: left;
width: 40px;
padding: 3px 0 3px 0;
}
.poiform input {
float: left;
width: 250px;
border: none;
border-bottom: 1px dotted #999;
padding: 8px 3px 0 3px;
}
.poiform input.error {
border-color: #FF0000;
}
.poiform select {
width: 300px;
}
.poiform select.error {
border: 1px solid #FF0000;
}
.poiform .buttonbar {
margin-top: 10px;
}

.point, .pointExhibitor, .pointSubfloorplan, .pointSession {
position: absolute;
display: block;
text-indent: -9999px;
width: 32px;
height: 44px;
outline: none;
background: url('../img/marker.png') no-repeat;
cursor: pointer;
z-index: 100;
}
.pointExhibitor {
  background-image: url('../img/marker-exhibitor.png');
  width: 44px;
}
.pointSubfloorplan {
  background-image: url('../img/marker-subfloorplan.png');
  width: 44px;
}
.pointSession {
  background-image: url('../img/marker-session.png');
  width: 44px;
}
.loader {
background: url('../img/loader.gif') no-repeat center;
}
.imgCaption {
bottom: 0;
left: 0;
color: #fff;
opacity: .6;
background: #333;
padding: 10px;
width: 940px;
text-align: center;
font-size: 16px;
text-transform: uppercase;
text-shadow: 1px 1px 0 #111;
font-weight: bold;
}
.bubble .close {
display: block;
text-indent: -9999px;
position: absolute;
top: -12px;
right: -12px;
width: 30px;
height: 30px;
outline: none;
background: url('../img/close-30.png') no-repeat top left;
cursor: pointer;
}
.bubble {
padding: 7px 10px;
background: #333;
color: #fff;
width: 240px;
font-size: 11px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 0 20px #999;
-webkit-box-shadow: 0 0 20px #999;
text-align: center;
font-weight: bold;
}
.bubble p {
margin: 5px 0;
}
.bubble span {
display: block;
font-size: 12px;
font-weight: bold;
}
.bubble img {
vertical-align: bottom;
}
ul.map_buttons, ul.map_buttons li {
display: block;
list-style: none;
padding: 0;
margin: 0;
}
ul.map_buttons li {
float: left;
}
.map_buttons a {
display: block;
background: #363636;
line-height: 28px;
padding: 0 15px;
font-size: 12px;
float: left;
margin-right: 4px;
text-decoration: none;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
.markerContent {
z-index: 10;
}
.markerContent a.delete {
display: block;
float: right;
background: transparent url('../img/icons/delete.png') no-repeat 5px 1px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
color: #FFF;
}
.markerContent a {
  color:#FFFFFF;
}

.importprogress {
display: none;
background: url('../img/ajax-loader.gif') no-repeat 5px 5px;
padding: 12px 10px 15px 50px;
margin-left: 140px;
}

/* FIREFOX */
@-moz-document url-prefix() {
	button.button, a.button {
padding-right: 15px;
}
	a.button span {
margin-top: 0px;
padding: 5px 0 5px 18px;
}
	button.button span {
margin-top: -2px;
padding: 5px 0 5px 18px;
}

}

/* FILE UPLOAD */

.frmsessions .uploads {
margin-left: 145px;
display: block;
width: 545px;
padding-top: 10px;
}
.frmsessions .uploads .note {
margin-left: 15px;
padding-top: 10px;
display: block;
clear: both;
}
.frmsessions form.upload {
margin: 5px 10px;
}
.frmsessions form.upload .uploadfield {
}

#urlname{
	margin-top: -7px;
}

.file_upload {
position: relative;
overflow: hidden;
direction: ltr;
cursor: pointer;
text-align: center;
color: #333;
font-weight: bold;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
width: 250px;
height: 45px;
line-height: 30px;
/*background: #F5F5F5;*/
border: 1px solid #EDEDED;
margin-top: 10px;
float: left;
}
.file_upload span {
color: #999;
line-height: 15px;
display: block;
margin-top: -8px;
}
.file_upload_small {
width: 250px;
height: 45px;
line-height: 30px;
font-size: auto;
background: #EDEDED;
border: 1px solid #CCC;
}
.file_upload_large {
width: 525px;
height: 150px;
line-height: 150px;
font-size: 15px;
background: #EDEDED;
border: 1px solid #CCC;
}
.file_upload_large span {
line-height: 15px;
margin-top: -60px;
font-size: 15px;
}
.file_upload_highlight {
background: #E0E0E0;
}
.file_upload input {
position: absolute;
top: 0;
right: 0;
margin: 0;
border: 300px solid transparent;
opacity: 0;
-ms-filter: 'alpha(opacity=0)';
filter: alpha(opacity=0);
-o-transform: translate(-300px,-300px) scale(10);
-moz-transform: translate(-800px,0) scale(10);
cursor: pointer;
}
.file_upload iframe,.file_upload button {
display: none;
}
.file_upload_progress .ui-progressbar-value {
background: url('../img/pbar-ani.gif');
}
.file_upload_progress div {
width: 150px;
height: 15px;
}
.file_upload_cancel div {
cursor: pointer;
}

table.upload_files td {
padding: 3px;
}
table.download_files {
width: 250px;
}
table.download_files td {
text-align: center;
height: 45px;
}
table.download_files td img {
margin-top: 5px;
}

/* -- */
.row {
  margin-bottom:5px;
}
.ui-autocomplete {
background-color: #eee;
position: absolute;
cursor: default;
border-left: 1px solid #CCCCCC !important;
border-right: 1px solid #CCCCCC!important;
border-bottom: 1px solid #CCCCCC!important;
}
.ui-autocomplete .ui-menu-item {
}
.ui-autocomplete .ui-menu-item a {
display: block;
padding: 4px 6px;
text-decoration: none;
line-height: 12px;
background-color: #FFFFFF;
border:none;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover, .ui-autocomplete .ui-menu-item a.ui-state-active {
background-color: #78959D;
color: #000;
margin: 0;
}
.ui-autocomplete-loading {
background: white url(../img/ui-anim_basic_16x16.gif) right center no-repeat;
}
#mytags, #myspeakers {
	padding-left:2px;
}
form div.row ul.tagit {
border: none;
padding: 3px 0px;
font-size: 12px;
width: 100%;
/*background: #FFFFFF;*/
/*overflow: auto;*/
margin: 0;

}
form div.row ul.tagit li {
display: block;
float: left;
}
form div.row ul.tagit li.tagit-choice {
background-color: #DEE7F8;
border: 1px solid #CAD8F3;
padding: 0 4px 0;
margin: 0 3px 0 0;
}
form div.row ul.tagit li.tagit-choice:hover {
background-color: #bbcef1;
border-color: #6d95e0;
}
form div.row ul.tagit li.tagit-new {
  clear: both;
  padding: 0;
  width: 98.8%;
}
form.addevent div.row ul.tagit li.tagit-new {
padding: 2px 0px 0 0;
clear: both;
}
form div.row ul.tagit li.tagit-choice input {
display: block;
float: left;
}
form div.row ul.tagit li.tagit-choice a.close {
color: #777777;
cursor: pointer;
font-size: 12px;
font-weight: bold;
outline: medium none;
padding: 0 0 0 3px;
text-decoration: none;
border: none;
}
form div.row ul.tagit input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    line-height: 18px;
    margin: 0;
    padding: 3px 6px;
    width: 100%;
}


.event_import {
display: inline-block;
float: right;
background: #23A8E0 url('../img/icons/add.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
color: #FFF;
}
.event_import select {
width: 220px;
}

/* SWITCH BUTTON  */
div.switch {
display: inline-block;
width: 125px;
height: 23px;
background: #DDD;
border: 1px solid #CCC;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
div.switch a.part {
display: block;
float: left;
padding: 2px 5px;
text-decoration: none;
color: #666;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: none;
padding-bottom:8px;
}
div.switch a.part:hover {
color: #000;
text-decoration: underline;
}
div.switch a.part.active {
background: #EDEDED;
color: #333;
}
div.switch a.part.active:hover {
color: #333;
text-decoration: none;
}

a.deletemap, a.deletezoommap {
display: inline-block;
background: url('../img/icons/cross.png') no-repeat 3px 5px;
padding: 8px 6px 8px 25px;
margin: 2px 0 0 5px;
border: none;
}

#preloader {
background: #333;
color: white;
width: 200px;
height: 200px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
z-index: 500;
left: 50%;
top: 40%;
position: fixed;

text-align: center;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
/* IE 5-7 */
filter: alpha(opacity=90);
/* Netscape */
-moz-opacity: 0.9;
/* Safari 1.x */
-khtml-opacity: 0.9;
/* Good browsers */
opacity: 0.9;
display: none;
}

#preloader .status{
	position: relative;
	top: 150px;
	font-size: 18px;
}

/* languages */
.checkboxClass{
width: 20px !important;
margin-top:1px !important;
height:18px !important;
margin-right:0px !important;
}

/*#preview {
background: url('../img/iphone4_big.png') no-repeat !important;
height: 562px;
}*/
#preview.nokia {
	background: url('../img/nokia_n9_big.png') no-repeat !important;
	height: 562px;
}
#preview iframe {
margin-left: 16px;
margin-top: 8px;
overflow: -moz-scrollbars-vertical;
overflow-x: hidden;
overflow-y: scroll;
}
#preview iframe body, #preview iframe body.page-event-index page--event {
overflow: -moz-scrollbars-vertical;
overflow-x: hidden;
overflow-y: scroll;
}

.module.active .editlink, .module.inactive span {
font-weight: bold;
}
.module.inactive span {
color: #aaa;
font-weight: normal;
font-style: italic;
}

#right {
background-color: #FCFCD3;
padding: 10px;
width: 220px;
display: block;
float: right;
top: 0px;
position: fixed;
right: 0px;
display: none;
}
#right h3 {
margin-top: 5px;
}

.save {
	/*background-color: #F5F5F5;*/
    padding: 5px;
	border-radius: 0px 0px 10px 10px;
}

.tagInVenueList, .tagInEventList {
	background-color: #DEE7F8;
	border: 1px solid #CAD8F3;
	padding: 0 4px 0;
	margin: 0 3px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.travelinfo {
	width:630px !important;
	margin-left:10px !important;
}

.frmAddTag {
	display:none;
	position:fixed;
	bottom:100px;
	padding:20px;
	background-color:#474747;
	z-index:1000;
	color:#FFFFFF;
  width:300px;
  margin-left:120px;
}

.editTagImg, .editTagA h1 {
	margin-top:20px;
}

.editTagA {
	float:left;
	width: 600px;
}

#popup_ok, #popup_cancel {
	height: 28px;
}

.hintAppearance {
	display: block !important;
	float: none !important;
	margin-right: 10px !important;
	font-style: italic !important;
	color: #999 !important;
	width:100% !important;
	text-align:left !important;
  margin-bottom:5px;
}
.hintImage {
    color: #999999 !important;
    display: block !important;
    float: none !important;
    font-style: italic !important;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px !important;
    margin-top: 3px;
    text-align: left !important;
    width: 100% !important;
}

.order {
	background: url("../img/icons/sort.png") no-repeat scroll right center transparent;
}

.add_app_a {
	border-bottom:none;
}

.add_app_a:hover {
	border-bottom:none;
	background-color:#26A9E0;
}
.ui-state-default .ui-icon {
  display:none;
}
.ui-multiselect span {
  width: 500px !important;
  text-align:left !important;
}

.packageH2 {
    background-color: #45AEE5;
    margin: 0;
    padding: 0px 0px 0px 17px;
    text-align: left;
    /*width: 100%;*/
    clear:both;
}
.validationspan, .frmsessions p span.validationspan, .frmsessions span.validationspan {
  display:none;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

a.tagit-close {
  margin-left:5px;
  font-weight:bold;
  border-bottom:none;
}

.tagit-hiddenSelect {
  display:none;
}

.metaEdit, .metaDelete {
  border-bottom:none;
}
.metaEdit img, .metaDelete img {
  margin-top:5px;
}
#extralinep {
  display:none;
}
.premiump {
  min-height:20px !important;
  padding-bottom:0px !important;
}

#languageSelect li{
	float:left;
	margin-left:0.8em;
	list-style-type:none;
	height:20px;
}

#languageSelect a{
	text-indent:0px;
	display:block;
	color:#fff;
	border:none;
	font-size:11px;
	text-decoration:none;
}

#languageSelect .selected a{
	color: #26A8E0;
	text-decoration:underline;
}

ul#languageSelect{
  position: absolute;
  /*right: 220px;*/
  top: 24px;
}

#preview iframe {
	border:0;
	margin-left: 30px;
	background-color:#000000;
	overflow:auto;
}

#preview h4 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#loyalty #qrcode table
{
	width: 50%;
	margin: 0;
	padding: 0;
}

#loyalty #qrcode table td
{
	margin: 0;
	padding: 0;
	height: 5px;
	width: 5px;
}















/*LAYOUT 2.0 */


#wrapper {
  background: none;
  margin-top:41px;
  width: 99.9%;
}
#contentwrapper {
    float: left;
    height: auto;
    margin: auto;
}

#menu-container {
    background: none repeat-y scroll left top #2D333C;
    border-right: 1px solid #BBBBBB;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0 0 25px;
    width: 255px;
    min-height:100%;
    margin-top:-15px;
}
span.nav-header {
    font-weight: bold;
    line-height: 20px;
    padding: 3px 15px;
    display: block;
}
span.app-flavor {
    color: white;
    font-size: 12px;
    font-style: italic;
    padding-left: 14px;
    font-weight: normal;
}
div.menuApp {
  color: white;
  background:transparent;
  padding: 8px 0 8px 10px;
  background-color:transparent;
  margin-bottom:0px;
}
.push {
  /*width:910px;*/
}

#sidebar {
  position: absolute;
  right: 1px;
  top: 60px;
  background-color:#CCCCCC;
  min-height:100%;
  padding-left:10px;
}

#content {
  background: none;
  padding-left:;
}

#header #logo {
  display: block;
  height: 47px;
  padding-top: 1px;
  width: 221px;
  margin-top:10px;
  margin-left:5px;
}

#header {
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  color: #555555;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  background: #51575F;
  background-image: -moz-linear-gradient(center top , #51575F, #0B1018);
  background-image: -webkit-linear-gradient(top , #51575F, #0B1018);
  background-image: -webkit-linear-gradient(top, #51575F 0%, #0B1018 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4E4E4E', endColorstr='#2E2E2E')";
  background: -ms-linear-gradient(#51575F, #0B1018);
  background-repeat: repeat-x;
  height:61px;
}


#sidebar #tabs .tab {
  padding:0;
  background: url('../img/layout2/phone.png') no-repeat;
}
#preview {
  height: 680px;
  width: 387px;
}

#navigation li a {
    border-left: 1px solid #222222;
    color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: none;
}

[class*=" icon-"] {
    background-image: url("../img/layout2/glyphicons-halflings-white.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}

ul#languageSelect {
    position: absolute;
    left: 200px;
    top: 24px;
}

#header #navigation {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    display: inline;
    height: 61px;
    padding-right: 2px;
    position: absolute;
    right: 0;
    top: 0;
    border:none;
    padding-right:0px;
}
#header #navigation li {
    color: #FFFFFF;
    display: inline;
    float: left;
    height: 61px;
    list-style: none outside none;
    width: 100px;
    border-left:1px solid #000000;
}
#header #navigation li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    width:auto;
    text-align:center;
    border:none;
}
#header #navigation li a.last {
    border:none;
    border-radius:none;
}

body {
  background-image:url("../img/layout2/bodybg.png");
  background-repeat: repeat-y;
}

#menu-container .nav li {
    background-color: #23272E;
    background-image: -moz-linear-gradient(center top , #51575F, #222730);
    background-image: -webkit-linear-gradient(top , #51575F, #222730);
    background: -ms-linear-gradient(#51575F, #222730);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#51575F', endColorstr='#222730');
    border-bottom: 1px solid #070707;
    border-top: 1px solid #636363;
    color: white;
    display: block;
    font-size: 14px;
    height: 30px;
    padding: 15px 25px;
    width:205px;
}
#menu-container .nav li a {
    color: white;
    border:none;
}
#menu-container .nav-list {
    padding: 0;
}
#menu-container .modules-list li.active, #menu-container .nav li.active:hover {
    background-image: -moz-linear-gradient(center top , #2BA8E0, #1D74AB) !important;
    background-image: -webkit-linear-gradient(top , #2BA8E0, #1D74AB) !important;
    background: -ms-linear-gradient(#2BA8E0, #1D74AB) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2BA8E0', endColorstr='#1D74AB') !important;
}
#menu-container .nav li:hover {
    background-image: -moz-linear-gradient(center top , #51575F, #0B1018);
    background-image: -webkit-linear-gradient(top , #51575F, #0B1018);
    background: -ms-linear-gradient(#51575F, #0B1018);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#51575F', endColorstr='#0B1018');
    border-bottom: 1px solid #070707;
    border-top: 1px solid #636363;
}
#menu-container .nav li a:hover {
    background: none repeat scroll 0 0 transparent;
}
#menu-container .nav li.active a {
    background: none repeat scroll 0 0 transparent;
}
#menu-container .modules-list {
    margin: 0;
}
#menu-container .modules-list li {
    background: none repeat scroll 0 0 #23272E !important;
    border-bottom: 1px solid #090A0C;
    border-top: medium none;
    font-size: 13px;
    height: 24px;
    padding: 5px 10px 5px 50px;
}

.moduletitle {
  width:490px;
  float:left;
}

form div.buttonbar {
  margin-right:-5px;
}

.tabs-below > .nav-tabs > li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.tabs-below > .nav-tabs > li.active {
    border-color: #CCCCCC;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    border-right-width:1px;
}

.nav-tabs {
  margin-bottom:10px;
}

strong {
    font-weight: bold;
}

#menu-container .modules-list li {
    background: none repeat scroll 0 0 #23272E !important;
    border-bottom: 1px solid #090A0C;
    border-top: medium none;
    font-size: 13px;
    height: 24px;
    padding: 5px 20px 5px 30px;
}
#menu-container .modules-list {
    clear: both;
    display: block;
}
#menu-container .modules-list li a, .modules-list li span {
    font-weight: bold;
    padding-top: 2px;
}
.modules-list li span {
  padding-left:10px;
  line-height: 19px;
}
#menu-container .modules-list li:hover {
    background: none repeat scroll 0 0 #23272E !important;
    border-bottom: 1px solid #090A0C;
    border-top: medium none;
    padding: 5px 20px 5px 30px;
}
#menu-container .nav li.active, .menu-container .nav li.active:hover {
    background-image: linear-gradient(to bottom, #2BA8E0, #1D74AB);
}
#menu-container .modules-list li {
    background: none repeat scroll 0 0 #23272E !important;
    background: -ms-linear-gradient(#23272E, #23272E) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#23272E', endColorstr='#23272E') !important;
    border-bottom: 1px solid #090A0C;
    border-top: medium none;
    font-size: 13px;
    height: 24px;
    padding: 5px 20px 5px 30px;
    width: 205px;
}

#menu-container .modules-list li a:hover {
    text-decoration: underline;
}

#sidebar-btn {
  text-decoration: none;
  border:none;
  right:395px;
  top:350px;
  position:absolute;
}

a:active {
  outline: none;
  -moz-outline-style: none;
}

a:focus {
  outline: none;
  -moz-outline-style: none;
}

.ui-widget-content {
  background:none;
  border:none;
}
.changeTagEvent {
  margin-top:-10px;
}
.ui-datepicker table {
  background-color: #FFFFFF;
}

.ui-datepicker-next, .ui-datepicker-prev {
  border-bottom: none;
}

.module-availabilty {
    float: right;
    margin-top: -17px;
    text-align: right;
}

.module-availabilty .special {
  margin-top:-4px;
}
.module-availabilty-inactive {
    display: block;
    float: left;
    margin-top: -4px;
}
.module.inactive span.moduletitle {
  display:block;
  float:left;
  width: 413px;
}

.availabilty-image {
  width:30px;
  margin-top:-3px;
}

.moduletitlespecial {
    display: block;
    float: left;
    width: 413px;
}

.module-availabilty .special {
    display: block;
    float: left;
    margin-top: -4px;
}

.btn-danger {
    background-color: #DA4F49;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

.imageInListview {
  width:20px;
  margin-right:5px;
}
.ui-multiselect-checkboxes {
    background-color: #FFFFFF;
}
#breadCrumb {
  margin-bottom:10px;
}

.tooltip2 {
  border:none;
}

.contactusbtn {
    color: #EEEEEE;
    cursor: pointer;
    font-size: 13px;
    padding: 9px 17px 10px 16px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    float:left;
    margin-top:10px;
    margin-right:10px;
    width:85px;
    height:22px;
    background-image: url('../img/button-contact-us.png');
    border-bottom:none;
}

.contactusbtnicon {
  margin-right:2px;
  margin-top:2px;
}

#orderattablecheckboxes {
  margin-left:10px;
}

.datepickerMeta {
  width:90px !important;
}
.fromtillMeta {
  width:50px !important;
}

.ui-dialog  {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-family: Arial,sans-serif;
    font-size: 12px;
    max-width: 600px;
    min-width: 300px;
    font-size:10px;
}
.ui-dialog .ui-dialog-titlebar-close {
    border:none;
}

.editPremiumButton {
  float:right;
}
#premiuminfo p {
  margin-bottom:20px;
  float:left;
}

#premiuminfo {
  padding-top:5px;
  padding-bottom:5px;
}


/**
 * MarkerMap Styling
 */
.tc_markermap {
	border:3px double darkgray;
	margin:0.5em 0;
}


.buttonbar .btn {
  margin-bottom:5px;
}

.formsearch {
  float:right !important;
  margin-right: 0px !important;
  margin-top:10px;
}

.searchlist.infobox {
  text-align: right !important;
  padding-right:15px;
  min-height:10px !important;
}

.block {
  display: block;
}

.table-engine th {
  text-decoration: none !important;
}