* {
margin: 0;
padding: 0;
}
html,body {
margin: 0;
padding: 0;
height: 100%;
}
body {
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: normal;
line-height: 18px;
color: #404040;
background-color:#fff;
}

ul {
margin-left: 20px;
}
table td {
font-size: 14px;
}
table td a {
color: #000;
text-decoration: none;
}
table tbody tr td a {
border: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-weight: normal;
font-style: normal;
font-size: 100%;
line-height: 1;
font-family: inherit;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 25px;
	margin-bottom: 20px;
}

h3 {
font-size: 22px;
}

h3, h4, h5, h6 {
line-height: 36px;
}

h1, h2, h3, h4, h5, h6 {
font-weight: bold;
color: #404040;
}

a {
text-decoration: none;
border-bottom: 1px black dotted;
color: black;
cursor: pointer;
cursor: hand;
}
a.disabled {
opacity: 0.4;
filter: alpha(opacity=40);
}
p {
}
input {
border: 1px solid #666;
padding: 6px;
font-size: 12px;
outline: none;
}
button {
cursor: pointer;
cursor: hand;
}
.btn {
border-bottom: none;
}
.note {
font-style: italic;
color: #666;
font-size: 11px;
font-weight: normal;
}
div.buttonbar {
display: block;
width: auto;
float: right;
min-height: 60px;
margin-right: 35px;
}

h1 a {
border: 0;
}
h1 input {
font-size: 24px;
font-weight: bold;
font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", sans-serif;
float: left;
outline: none;
border: none;
border-bottom: 1px dotted #CCC;
margin-right: 5px;
padding: 0 6px;
}

button.button, a.button {
background: transparent url('../img/bg_button_a.png') no-repeat scroll top right;
color: #444;
display: block;
float: left;
font: normal 12px arial, sans-serif;
height: 24px;
margin-right: 6px;
padding-right: 18px; /* sliding doors padding */ text-decoration: none;
border: none;
}
button.button span, a.button span {
background: transparent url('../img/bg_button_span.png') no-repeat;
display: block;
line-height: 14px;
padding: 5px 0 5px 18px;
}
button.button span.span_img, a.button span.span_img {
height: 14px;
}
button:hover.button, a:hover.button {
background-position: right -24px;
color: #000;
}
button:hover.button span, a:hover.button span {
background-position: 0 -24px;
color: #000;
}

/* --- STRUCTURE --- */
#wrapper {
width: auto;
min-width: 1020px;
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -40px;
}
#wrapper.iframe {
min-width: 600px;
width: 670px;
}

#header {
width: 100%;
height: 60px;
background: url('../img/headerbg.png') repeat-x top left;
}
#header #logo {
display: block;
width: 221px;
height: 47px;
padding-top: 7px;
margin: 0 auto;
}
#header #logo a {
border: none;
}

#header #navigation {
display: inline;
height: 32px;
position: absolute;
right: 15px;
top: 15px;
padding-right: 2px;
border: 1px solid #3a3a3a;
border-bottom-width: 2px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
#header #navigation li {
display: inline;
list-style: none;
width: 40px;
height: 30px;
border: none;
color: #FFF;
float: left;
}
#header #navigation li a {
display: block;
width: 40px;
height: 30px;
border: none;
border: 1px solid #6c6a6b;
border-right: 1px solid #504c4d;
border-left: 1px solid #504c4d;
background: rgb(96,93,94); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(96,93,94,1) 0%, rgba(62,59,60,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,93,94,1)), color-stop(100%,rgba(62,59,60,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(96,93,94,1) 0%,rgba(62,59,60,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(96,93,94,1) 0%,rgba(62,59,60,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(96,93,94,1) 0%,rgba(62,59,60,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#605d5e', endColorstr='#3e3b3c',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(96,93,94,1) 0%,rgba(62,59,60,1) 100%); /* W3C */
}
#header #navigation li a span {
text-decoration: none;
color: white;
border: none;
}
#header #navigation li a:hover , #navigation li a.selected {
background: rgb(63,59,60); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(63,59,60,1) 0%, rgba(72,69,70,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,59,60,1)), color-stop(99%,rgba(72,69,70,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(63,59,60,1) 0%,rgba(72,69,70,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(63,59,60,1) 0%,rgba(72,69,70,1) 99%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(63,59,60,1) 0%,rgba(72,69,70,1) 99%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3b3c', endColorstr='#484546',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(63,59,60,1) 0%,rgba(72,69,70,1) 99%); /* W3C */
}
#header #navigation li a.first {
border-left: 1px solid #6c6a6b;
-moz-border-radius-topleft: 7px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 7px;
-webkit-border-radius: 7px 0px 0px 7px;
border-radius: 7px 0px 0px 7px;
}
#header #navigation li a.last {
border-right: 1px solid #6c6a6b;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 0px 7px 7px 0px;
border-radius: 0px 7px 7px 0px;
}

.subbar a {
text-transform: uppercase;
font-size: 14px;
border: none;
}
#contentwrapper .subbar {
display: block;
width: 100%;
height: 35px;
background: transparent url('../img/bg_subbar.png') repeat-x top left;
padding: 11px 0 0 0;
}
#contentwrapper .subbar a {
margin: 0 10px;
float: left;
padding: 0 10px;
}
#contentwrapper .subbar a:hover {
text-decoration: underline;
}
#contentwrapper .subbar .spacer {
display: block;
float: left;
width: 310px;
position: relative;
z-index: -1;
}
#contentwrapper #sidebar .subbar {
text-indent: 0;
padding: 11px 0 0 10px;
width: 285px;
}
#contentwrapper #sidebar .subbar .name {
}
#contentwrapper #sidebar .subbar .eventstatus {
display: none;
}
#contentwrapper .onoff {
display: inline-block;
width: 82px;
height: 28px;
background-image: url('../img/btn-onoff.png');
background-repeat: no-repeat;
border: none;
margin: 15px 10px 0 0;
float: right;
padding: 0;
}
#contentwrapper .onoff.activate {
background-position: -82px 0px;
}
#contentwrapper .onoff.deactivate {
background-position: 0px 0px;
}
#contentwrapper .onoff span {
display: none;
}

#contentwrapper {
width: 1040px;
height: auto;
margin: 0 ;
}

#sidebar {
display: block;
float: left;
background: transparent url('../img/sidebar_bg.png') repeat-y top center;
width: 314px;
padding: 0;
font-weight: bold;
margin: 0;
}
#sidebar #tabs {
border: none;
background: none;
padding: 0;
margin: 0;
margin: -1px;
}
#sidebar #tabs .tab {
border: none;
background: none;
padding: 0;
margin: 0;
padding: 0 10px;
margin-top: 20px;
}
#sidebar #tabs ul.tabbar {
border: none;
background: none;
padding: 0;
width: 300px;
height: 50px;
font-weight: normal;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
#sidebar #tabs ul.tabbar li {
margin: 0;
padding: 0;
border: none;
text-align: center;
width: 150px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border: none;
height: 60px;
}
#sidebar #tabs ul.tabbar li a {
display: block;
width: 100%;
padding: 15px 0;
border: none;
text-transform: uppercase;
text-indent: 20px;
font-size: 14px;
text-align: center;
}
#sidebar #tabs ul.tabbar li a:hover {
background: none;
}
#sidebar #tabs ul.tabbar li.ui-state-hover {
background: none;
}
#sidebar #tabs ul.tabbar li.ui-state-active {
background: none;
}
#sidebar #tabs ul.tabbar li.ui-state-active a {
color: #23A8E0;
}

#sidebar #tabs ul.tabbar li.left {
background: transparent url('../img/tabs_bg.png') no-repeat top left;
}
#sidebar #tabs ul.tabbar li.right {
background: transparent url('../img/tabs_bg.png') no-repeat bottom right;
}
#sidebar #tabs ul.tabbar li.ui-state-active.left {
background: transparent url('../img/tabs_bg.png') no-repeat bottom left;
}
#sidebar #tabs ul.tabbar li.ui-state-active.right {
background: transparent url('../img/tabs_bg.png') no-repeat top right;
}

#sidebar ul #general_li, #sidebar ul #content_li{
	margin:20px 10px;
	padding: 7px 14px;
	background-color: #f5f5f5;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
	  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	  background-image: linear-gradient(top, #ffffff, #f5f5f5);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	  border: 1px solid #ddd;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	  -webkit-box-shadow: inset 0 1px 0 #ffffff;
	  -moz-box-shadow: inset 0 1px 0 #ffffff;
	  box-shadow: inset 0 1px 0 #ffffff;
	  width: 240px;
	  margin-top: 30px;
}

#sidebar ul li .head{
	text-transform:uppercase;
	font-weight: bold;
	font-size: 20px;
}

#sidebar ul li{
	list-style-type: none;
}

#sidebar ul li a{
	text-decoration: none;
	border: none;
}

/*#sidebar ul.general {
width: 295px;
height: auto;
list-style: none;
margin: 0 0 0 -10px;
}
#sidebar ul.general.single {
margin: 0 10px 0 0;
}
#sidebar ul.general .head {
	font-size: 18px;
	font-weight: bold;
	color: #404040;
	height: 24px;
	text-align: center middle;
}

#sidebar ul.general li {
}
#sidebar ul.general li a {
display: block;
width: 260px;
padding: 0 0 0 10px;
font-size: 18px;
color: white;
text-decoration: none;
color: black;
border: 0px;
border-bottom: 1px #EDEDED dotted;
font-family: "Lucida Grande","Lucida Sans",Arial,Verdana,Sans-Serif;
}
#sidebar ul.general li a.sel {
width: 275px;
color: white;
height: 30px;
}
#sidebar ul.general li span {
font-size: 15px;
line-height: 20px;
display: block;
margin: -2px 0 0 5px;
padding: 3px 0px 3px 5px;
}
#sidebar ul.general li ul {
background: none;
margin: 0;
padding: 0;
list-style: none;
}
#sidebar ul.general li ul li {
background: none;
}
#sidebar ul.general li ul li.inner a {
padding-left: 30px;
}
#sidebar ul.general li ul li span {
padding-left: 35px;
}
#sidebar ul.general li ul li a {
font-size: 13px;
color: #BFBFBF;
text-transform: uppercase;
padding: 10px 0;
}
#sidebar ul.general li ul li a.sel {
height: 24px;
}
#sidebar ul.general li ul li a .icon {
}
#sidebar ul.general li ul li a.inner {
padding-left: 40px;
}

#sidebar ul#sbmodules {
width: 295px;
height: auto;
}
#sidebar ul#sbmodules li {
}
#sidebar ul#sbmodules li a {
padding: 0 0 0 50px;
width: 255px;
}
#sidebar ul#sbmodules li a.sel {

}*/

#content {
float: left;
width: 680px;
height: auto;
margin: 0;
min-width: 680px;
padding-left: 15px;
padding-top: 25px;
margin: 0 0 0 15px;
}
html>body #content {
width: expression( document.body.clientWidth > 699 ? "700px" : "auto" ); /* sets max-width for IE */
}

#content.iframe {
margin-left: 0;
min-width: 670px;
}
html>body #content.iframe {
width: expression( document.body.clientWidth > 669 ? "670px" : "auto" ); /* sets max-width for IE */
}

#content a.add{
	float: right;
}

.push {
margin: 0;
height: 40px;
width: 100%;
}
#footer {
width: 100%;
height: 20px;
margin: 0 auto;
text-align: center;
padding: 10px 0 0 0;
color: #CCC;
font-size: 14px;
text-shadow: 1px 1px 0px #FFF;
font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", sans-serif;
}
html>body #footer {
padding: 10px 0 10px 0;
}
#footer a {
color: #CCC;
border: none;
font-size: 14px;
}
#footer a:hover {
color: #BBB;
}

/* --- CONTENTSTYLE --- */
h1.eventname {
display: inline-block;
float: left;
margin-right: 15px;
font-size: 35px;
}
h1.eventname button {
margin-top: 6px;
}

.img_cell {
width: 20px;
}

#menu ul {
list-style-type: none;
}
#menu ul li {
border-left: 1px #444 solid;
border-right: 1px #444 solid;
color: white;
height: 40px;
float: left;
margin-top: -16px;
padding-top: 16px;
padding-left: 25px;
padding-right: 25px;
font-weight: bold;
}
#menu ul li a {
text-decoration: none;
color: white;
}
#menu ul li .selected {
border-bottom: 2px solid #e21a22;
}

.modules .module.inactive a.add {
background-image: url('../img/btn-onoff-22.png') !important;
background-position: -64px 0;
width: 64px;
text-decoration: none;
border-bottom: 0px;
height: 22px;
margin-top:-3px;
}
.modules .module.active a.delete {
background-image: url('../img/btn-onoff-22.png') !important;
width: 64px;
text-decoration: none;
border-bottom: 0px;
height: 22px;
margin-top:-3px;
}

/*
a.add {
display: inline-block;
float: right;
background: #23A8E0 url('../img/icons/add.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
color: #FFF;
}
a.add:hover {
color: #000;
}
a.add.white {
background-color: #FFF;
color: #000;
}

a.edit {
display: inline-block;
float: right;
background: #FFF url('../img/icons/pencil.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
a.edit:hover {
color: #666;
}

a.travel {
display: inline-block;
float: right;
background: #FFF url('../img/icons/car.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
a.travel:hover {
color: #666;
}

a.schedule {
display: inline-block;
float: right;
background: #FFF url('../img/icons/calendar.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
a.schedule:hover {
color: #666;
}

a.delete {
display: inline-block;
float: right;
background: #FFF url('../img/icons/delete.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
a.delete:hover {
color: #666;
}

a.position {
display: inline-block;
float: right;
background: #FFF url('../img/icons/arrow.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
a.position:hover {
color: #666;
}

a.manage {
display: inline-block;
float: right;
background: #FFF url('../img/icons/server_go.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
a.manage:hover {
color: #666;
}

a.build {
display: inline-block;
float: right;
background: #FFF url('../img/icons/bricks.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
a.build:hover {
color: #666;
}*/

/*button.save {
color: #000;
display: inline-block;
float: right;
height: 25px;
background: #FFF url('../img/icons/accept.png') no-repeat 6px 4px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
button.save:hover {
color: #666;
}

button.email {
color: #000;
display: inline-block;
float: right;
height: 25px;
background: #FFF url('../img/icons/email.png') no-repeat 6px 4px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
button.email:hover {
color: #666;
}

div.feedback {
background: #B4EDAD url('../img/icons/accept.png') no-repeat 10px 10px;
color: #333;
padding: 10px 10px 10px 35px;
}
div.error {
background: #F8AEAC url('../img/icons/exclamation.png') no-repeat 10px 10px;
color: #333;
padding: 10px 10px 10px 35px;
}
div.credits {
background: #FFFBAC url('../img/icons/coins.png') no-repeat 10px 10px;
color: #333;
padding: 10px 10px 10px 35px;
}

/* ### LOGIN REGISTER ### */
#login_form .error {
width: 440px;
margin-top: 10px;
}
#login_form .feedback {
width: 440px;
margin-top: 10px;
}
#login_form form .error {
width: 675px;
margin-top: 0px;
}
#login_form form .error input {
width: 345px;
border-left: 5px solid #F8AEAC;
}

form.register {
width: 675px;
margin-top: 15px;
}
form.login {
width: 675px;
margin-top: 15px;
}

form.register p {
display: block;
width: 675px;
height: 40px;
clear: both;
}
form.login p {
display: block;
width: 675px;
height: 40px;
clear: both;
}

form.register label {
width: 120px;
float: left;
padding: 3px 0;
}
form.login label {
width: 120px;
float: left;
padding: 3px 0;
}
form.register input {
width: 350px;
float: left;
border: none;
border-bottom: 1px dotted #999;
}
form.login input {
width: 350px;
float: left;
border: none;
border-bottom: 1px dotted #999;
}

form.register .buttonbar {
text-align: right;
display: block;
width: 490px;
}
form.register #registerbtn {
float: right;
}

form.login .buttonbar {
text-align: left;
display: block;
width: 490px;
}
form.login .buttonbar a {
display: block;
float: left;
margin: 0 10px 0 0;
}
form.login #loginbtn, form.login #recoverybtn {
float: right;
}

/* VENUE */

.venue{
	clear: both;
	display: block;
	width: auto;
	height: 65px;
	border-top: 1px solid #DDD;
	background: #F5F5F5;
	margin: 0 0 5px 0;
	padding: 5px 10px;
}

.venue h1{
	font-size: 20px;
	display: inline-block;
	font-weight: bold;
	margin-top: 7px;
}

.venue img{
	float: left;
	margin-right: 7px;
	margin-top: 15px;
}

.venue .event{
	display: block;
	width: 300px;
	border-bottom: 0px;
	padding: 0;
	margin: 0;
}



.venue a{
	
}


.venue .eventlogo{
	margin-top: 10px;
}

/* ### APPS ### */
.apps {
}
.apps .app {
clear: both;
display: block;
width: auto;
height: 37px;
border-top: 1px solid #DDD;
background: #F5F5F5;
margin: 0 0 5px 0;
padding: 5px 10px;
}
.apps .app h1 {
font-size: 20px;
display: inline-block;
font-weight: bold;
margin-top: 7px;
}
.apps .app img {
float: left;
margin-right: 7px;
margin-top: 5px;
}
.apps .app .todo {
margin: 5px 0 0 0;
background: transparent url('../img/icons/exclamation.png') no-repeat 10px 10px;
padding: 10px 10px 10px 35px;
border: 1px dotted #CCC;
}
.apps .app a.edit, .apps .app a.manage, .apps .app a.build, .apps .app a.delete {

background-color: #F6F6F6;
float: right;
margin-left: 5px;
margin-top: 5px;
}

.flavors {
}
.flavors .flavor {
display: block;
background: #FFF;
width: 150px;
height: 410px;
float: left;
margin: 0 10px 0 0;
padding: 6px;
}
.flavors .flavor span {
font-style: italic;
color: #999;
display: block;
height: 75px;
}
.flavors .flavor ul {
display: block;
height: 210px;
list-style: none;
list-style-image: url('../img/pic-dash.jpg');
color: #666;
margin: 0 0 0 12px;
}
.flavors .flavor ul li {
}
.flavors .flavor a.more {
margin-bottom: 5px;
display: block;
padding: 4px 3px 3px 25px;
border: none;
background: transparent url('../img/icons/info.png') no-repeat 5px 5px;
}
.flavors .flavor form .submit {
width: 100%;
border: none;
border-top: 3px solid #26a9e0;
background: #FFF;
padding: 10px 0;
cursor: hand;
cursor: pointer;
}

/* ### LISTVIEW ### */
.listview {
display: block;
clear: both;
margin-top: 50px;
}
.listview a.add {
display: inline-block;
float: left;
position: relative;
z-index: 100;
background: #23A8E0 url('../img/icons/add.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
.listview a.edit {
display: inline-block;
float: left;
position: relative;
z-index: 100;
background: #23A8E0 url('../img/icons/pencil.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
.listview a.add:hover, .listview a.edit:hover {
color: #000;
}
.listview a.notify {
display: inline-block;
float: left;
position: relative;
z-index: 100;
background: #FFF url('../img/icons/email_go.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
}
.listview a.notify:hover {
color: #666;
}
.listview table#listview {
clear: both;
}

/* ### MY EVENTS ### */
.events {
}
/*.events a.event {
clear: both;
display: block;
width: auto;
height: 50px;
border: none;
background: #FFF;
margin: 0 0 5px 0;
padding: 5px;
}*/

.event_wrapper{
	clear: both;
	display: block;
	width: auto;
	height: 55px;
	border-top: 1px solid #DDD;
	background: #F5F5F5;
	margin: 0 0 5px 0;
	padding: 5px 10px;
}

.event_wrapper a.event{
	border-bottom: 0px;
}

.event_wrapper a.edit{
	margin-top: 0px;
}

.events a.event .logo {
float: left;
margin-right: 8px;
}
.events a.event span {
font-weight: bold;
font-size: 18px;
}
.events a.event:hover {
background: #FAFAFA;
}
.events a.event img {
margin: 0px 15px 0 0;
}
.events a.edit {
	vertical-align: center;
	float: right;
	margin-top: -10px;
}

.events a.add{
	float: right;
}

/* ### EVENT DETAIL ### */
.eventactive {
float: left;
margin-top: 20px;
}
.iphone_switch_container {
margin-top: -13px;
}

.todo {
display: block;
background: #FFF;
margin: 0;
padding: 5px 10px 10px 10px;
margin: -10px 0 10px 0;
border: 1px dotted #CCC;
border-left: 10px solid #FF7815;
}
.todo ul {
list-style: none;
list-style-image: url('../img/pic-dash.jpg');
margin: 0 0 0 12px;
padding: 0;
}
.todo ul li {
margin: 0 0 0 5px;
padding: 0;
}

.eventinfo {
background: whiteSmoke;
padding: 15px 10px 10px 10px;
height: 50px;
margin-top: 10px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
.eventlogo {
width: 50px;
height: 50px;
float: left;
margin: 0px 15px 0 0;
}
.eventinfo .eventlogo {
margin: -5px 15px 0 0;
}
.eventlogo img {
width: 50px;
height: 50px;
float: left;
margin: -5px 15px 0 0;
}

.modules {
width: 640px;
}
.modules .module {
display: block;
border: none;
padding: 20px 20px 15px 20px;
margin-bottom: 2px;
height: 20px;
width: 100%;
border-top: 1px solid #DDD;
background: whiteSmoke;
}
.modules .module .activate {
float: right;
}
.modules .module.active a.editlink {
padding: 15px 50px 15px 0px;
border-bottom: none;
width: 350px;
}

/* ### ADD EVENT ### */
form.addevent {
margin-top: 10px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background: #F5F5F5;
width: 680px;
}
form.addevent fieldset {
width: 610px;
padding: 20px 0px 30px 30px;

}
form.addevent p {
padding: 10px 0px 10px 0px;
min-height: 40px;
width: 100%;
}
form.addevent p label {
display: block;
width: 100%;
text-align: left;
color: #000;
padding: 3px;
margin-bottom: 3px;
}
form.addevent p input {
float: left;
font-size: 12px;
width: 100%;
margin-bottom: 5px;
display: block;
}

form.addevent p #w_address{
	width: 500px;
}

form.addevent p select {
display: block;
width: 200px;
background: none;
outline: none;
height: 25px;
background: #EDEBEB;
}
form.addevent p #btnshowonmap{
	width: 90px;
	height: 15px;
	float: left;
	display: block;
	margin-left: 8px;
}

form.addevent #p_address{
	width: 690px;
}

form.addevent #p_address input{
	display: block;
	float: left;
	width: 480px;
}
form.addevent input.error {
width: 545px;
border-left: 5px solid #F8AEAC;
}
form.addevent select.error {
border: 1px solid #F8AEAC;
}
form.addevent p input:hover, .account .data p input:focus {
border-bottom: 1px solid #CCC;
}

form.addevent .logoupload {
width: 540px;
float: left;
margin-left: 10px;
}
form.addevent .evtlogo {
float: left;
width: 50px;
height: 50px;
background-color: #efefef;
}
form.addevent textarea {
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
display: block;
width: 100%;
outline: none;
height: 100px;
padding: 3px;
resize: none;
}
form.addevent textarea:hover, form.addevent textarea:focus {
outline: 0;
border-color: rgba(82, 168, 236, 0.8);
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
form.addevent p input#w_venuestreet {
float: left;
width: 515px;
}
form.addevent p input#w_venuenumber {
float: left;
width: 30px;
margin-left: 15px;
}
form.addevent p input#w_venuezip {
float: left;
width: 100px;
}
form.addevent p input#w_venuetown {
float: left;
width: 445px;
margin-left: 15px;
}
form.addevent p input#w_datefrom {
float: left;
width: 200px;
}
form.addevent p input#w_dateto {
float: left;
width: 200px;
margin-left: 20px;
}

/* BOOTSTRAP */

input,
textarea,
select,
.uneditable-input {
display: inline-block;
width: 210px;
height: 18px;
padding: 4px;
font-size: 13px;
line-height: 18px;
color: #808080;
border: 1px solid #ccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn img{
	height: 16px;
	width: 16px;
	vertical-align: middle;
	margin: 0;
	margin-right: 5px;
	padding: 0;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#23a8e0), to(#0064cd));
  background-image: -moz-linear-gradient(top, #23a8e0, #0064cd);
  background-image: -ms-linear-gradient(top, #23a8e0, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23a8e0), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #23a8e0, #0064cd);
  background-image: -o-linear-gradient(top, #23a8e0, #0064cd);
  background-image: linear-gradient(top, #23a8e0, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8e0', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}

/* */
.frmsessions {
background: #F6F5F5;
padding: 0;
}
.frmsessions form {
display: block;
padding: 0;
}
.frmsessions form p {
border-bottom: 1px #EDEDED dotted;
padding: 10px;
min-height: 25px;
line-height: 100%;
}
.frmsessions form p span {
display: block;
width: 120px;
float: left;
text-align: right;
margin-right: 10px;
font-style: italic;
color: #999;
}
.frmsessions form p span.column {
display: block;
float: left;
width: 100px;
}
.frmsessions form p label {
display: block;
width: 100%;
text-align: left;
color: #000;
padding: 3px;
margin-bottom: 3px;
}
.frmsessions form p label.wide {
width: 250px;
float: none;
}
.frmsessions form p input {
padding: 3px 6px;
font-size: 12px;
width: 530px;
border: 2px solid #CCC;
background: #FFFFFF;
}
.frmsessions form p.error input {
width: 545px;
border-left: 5px solid #F8AEAC;
}
.frmsessions form p input:hover, .account .data p input:focus {
border: 2px solid #CCC;
}
.frmsessions form p select {
display: block;
width: 200px;
background: none;
border: 2px solid #CCC;
outline: none;
height: 25px;
background: #FFFFFF;
}
.frmsessions form p select.multiple {
display: block;
width: 530px;
background: none #FFFFFF;
border: 2px solid #CCC;
outline: none;
height: 100px;
margin-left: 140px;
padding: 3px;
resize: none;
}
.frmsessions form p.error select {
border: 1px solid #F8AEAC;
}
.frmsessions form p textarea {
display: block;
width: 530px;
background: none;
border: 2px solid #CCC;
outline: none;
height: 100px;
padding: 3px 6px;
resize: none;
background: #FFFFFF;
}
.frmsessions form p textarea:hover, .account .data p textarea:focus {
border: 2px solid #CCC;
}
.frmsessions form p.error textarea {
border: 1px solid #F8AEAC;
}
.frmsessions form p.small input {
width: 85px;
float: left;
margin-right: 5px;
}
.frmsessions form p.checklist {
}
.frmsessions form p.checklist label.chk {
float: left;
text-align: left;
color: #000;
}
.frmsessions form p.checklist input[type="checkbox"] {
float: left;
width: 20px;
height: 20px;
margin-top: 5px;
}
.frmsessions form p .logoupload {
width: 460px;
float: left;
margin-left: 10px;
}
.frmsessions form p .evtlogo {
float: left;
display: block;
width: 50px;
height: 50px;
}

form div.row {

min-height: 50px;
}
form div.row label {
display: block;
width: 100%;
text-align: left;
color: #000;
padding: 3px;
margin-bottom: 3px;
}
form div.row input {
float: left;
border: none;
padding: 3px 6px;
font-size: 12px;
width: 530px;
border-bottom: 1px dotted #CCC;
background: #EDEBEB;
}

/* ### MY ACCOUNT ### */
.account {
}
.account .data {
clear: both;
display: block;
background: #FFF;
}
.account .data p {
border-bottom: 1px #EDEDED dotted;
padding: 10px;
min-height: 25px;
}
.account .data p span {
display: block;
width: 120px;
float: left;
text-align: right;
margin-right: 10px;
font-style: italic;
color: #999;
}
.account .data p label {
display: block;
width: 120px;
float: left;
text-align: right;
margin-right: 10px;
font-style: italic;
color: #999;
padding: 3px;
}
.account .data p input {
float: left;
border: none;
padding: 3px 6px;
font-size: 12px;
width: 530px;
border-bottom: 1px dotted #CCC;
}
.account .data p.error input {
width: 545px;
border-left: 5px solid #F8AEAC;
}
.account .data p input:hover, .account .data p input:focus {
border-bottom: 1px solid #CCC;
}

/* ### SESSIONS ###¨*/
.sessions {/*background:#FFF;*/ padding:1px 10px;
}
/*
.sessions .group {
background: #FFF;
border: 1px solid #EDEDED;
margin: 10px 0;
padding: 10px;
}
.sessions .group .session {
margin: 7px 0;
clear: left;
}
.sessions .group .session .data {
display: block;
float: left;
border-left: 5px solid #EEE;
}
.sessions .group .session label {
display: block;
float: left;
width: 100px;
font-style: italic;
padding-left: 10px;
}
.sessions .group .session span {
display: block;
float: left;
width: 520px;
font-family: "Lucida Grande","Lucida Sans",Arial,Verdana,Sans-Serif;
font-size: 12px;
}
.sessions .group .session .buttons {
display: none;
float: left;
opacity: 0.2;
filter: alpha(opacity=20);
}
.sessions .group .session:hover .buttons {
display: block;
}
.sessions .group .session .buttons:hover {
opacity: 1;
filter: alpha(opacity=100);
}
.sessions .group .session .buttons a span {
display: none;
}
.sessions .group .session .buttons a.edit {
display: block;
float: none;
background: #FFF url('../img/icons/pencil.png') no-repeat top left;
border: none;
padding: 3px 6px 3px 12px;
margin: 0;
}
.sessions .group .session .buttons a.delete {
display: block;
float: none;
background: #FFF url('../img/icons/delete.png') no-repeat top left;
border: none;
padding: 3px 6px 3px 12px;
margin: 0;
}
.sessions .group .session .buttons a.position {
display: block;
float: none;
background: #FFF url('../img/icons/arrow.png') no-repeat top left;
border: none;
padding: 3px 6px 3px 12px;
margin: 0;
}

ul#sessions {
list-style-type: none;
margin: 0;
padding: 0;
}
ul#sessions li {
}
ul.groups {
list-style-type: none;
margin: 0;
padding: 0;
}
ul.groups li {
}
.placeholder {
background: #EEE;
border: 5px #CCC dashed;
height: 50px;
}
.gplaceholder {
border: 3px #CCC dashed;
height: 50px;
}
*/

/* ### LISTVIEW ### */
th.order {
width: 60px;
}
.groupchooser {
position: absolute;
margin-top: -28px;
}
.groupchooser .groupselect {
width: 200px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
margin-bottom: 8px;
}
.ui-timepicker-div dl {
text-align: left;
}
.ui-timepicker-div dl dt {
height: 25px;
}
.ui-timepicker-div dl dd {
margin: -25px 0 10px 65px;
}
.ui-timepicker-div td {
font-size: 90%;
}

.map {
margin: 10px 0 0 0;
width: 700px;
height: 400px;
}

.mapform_bg {
position: absolute;
margin-top: -500px;
display: none;
width: 700px;
height: 500px;
background: #FFF;
z-index: 15;
}
.mapform {
position: absolute;
display: none;
width: 300px;
height: 120px;
margin: -325px 0 0 185px;
background: #FFF;
z-index: 16;
border: 1px solid #CCC;
padding: 15px;
}
.mapform select {
width: 300px;
}
.mapform select.error {
border: 1px solid #FF0000;
}
.mapform .buttonbar {
margin-top: 10px;
}

.poiform {
position: absolute;
display: none;
width: 300px;
height: 160px;
margin: -325px 0 0 165px;
background: #FFF;
z-index: 16;
border: 1px solid #CCC;
padding: 15px;
}
.poiform label {
display: block;
float: left;
width: 40px;
padding: 3px 0 3px 0;
}
.poiform input {
float: left;
width: 250px;
border: none;
border-bottom: 1px dotted #999;
padding: 8px 3px 0 3px;
}
.poiform input.error {
border-color: #FF0000;
}
.poiform select {
width: 300px;
}
.poiform select.error {
border: 1px solid #FF0000;
}
.poiform .buttonbar {
margin-top: 10px;
}

.point {
position: absolute;
display: block;
text-indent: -9999px;
width: 32px;
height: 44px;
outline: none;
background: url('../img/marker.png') no-repeat;
cursor: pointer;
z-index: 100;
}
.loader {
background: #F6F5F5 url('../img/loader.gif') no-repeat center;
}
.imgCaption {
bottom: 0;
left: 0;
color: #fff;
opacity: .6;
background: #333;
padding: 10px;
width: 940px;
text-align: center;
font-size: 16px;
text-transform: uppercase;
text-shadow: 1px 1px 0 #111;
font-weight: bold;
}
.bubble .close {
display: block;
text-indent: -9999px;
position: absolute;
top: -12px;
right: -12px;
width: 30px;
height: 30px;
outline: none;
background: url('../img/close-30.png') no-repeat top left;
cursor: pointer;
}
.bubble {
padding: 7px 10px;
background: #333;
color: #fff;
width: 240px;
font-size: 11px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 0 20px #999;
-webkit-box-shadow: 0 0 20px #999;
}
.bubble p {
margin: 5px 0;
}
.bubble span {
display: block;
font-size: 12px;
font-weight: bold;
}
.bubble img {
vertical-align: bottom;
}
ul.map_buttons, ul.map_buttons li {
display: block;
list-style: none;
padding: 0;
margin: 0;
}
ul.map_buttons li {
float: left;
}
.map_buttons a {
display: block;
background: #363636;
line-height: 28px;
padding: 0 15px;
font-size: 12px;
float: left;
margin-right: 4px;
text-decoration: none;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
.markerContent {
z-index: 10;
}
.markerContent a.delete {
display: block;
float: right;
background: transparent url('../img/icons/delete.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
color: #FFF;
}

.importprogress {
display: none;
background: url('../img/ajax-loader.gif') no-repeat 5px 5px;
padding: 12px 10px 15px 50px;
margin-left: 140px;
}

/* FIREFOX */
@-moz-document url-prefix() {
	button.button, a.button {
padding-right: 15px;
}
	a.button span {
margin-top: 0px;
padding: 5px 0 5px 18px;
}
	button.button span {
margin-top: -2px;
padding: 5px 0 5px 18px;
}

#content a.add{
	float: right;
}

/* FILE UPLOAD */

.frmsessions .uploads {
margin-left: 145px;
display: block;
width: 545px;
padding-top: 10px;
}
.frmsessions .uploads .note {
margin-left: 15px;
padding-top: 10px;
display: block;
clear: both;
}
.frmsessions form.upload {
margin: 5px 10px;
}
.frmsessions form.upload .uploadfield {
}

.file_upload {
position: relative;
overflow: hidden;
direction: ltr;
cursor: pointer;
text-align: center;
color: #333;
font-weight: bold;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
width: 250px;
height: 45px;
line-height: 30px;
background: #F5F5F5;
border: 1px solid #EDEDED;
margin-top: 10px;
float: left;
}
.file_upload span {
color: #999;
line-height: 15px;
display: block;
margin-top: -8px;
}
.file_upload_small {
width: 250px;
height: 45px;
line-height: 30px;
font-size: auto;
background: #EDEDED;
border: 1px solid #CCC;
}
.file_upload_large {
width: 525px;
height: 150px;
line-height: 150px;
font-size: 15px;
background: #EDEDED;
border: 1px solid #CCC;
}
.file_upload_large span {
line-height: 15px;
margin-top: -60px;
font-size: 15px;
}
.file_upload_highlight {
background: #E0E0E0;
}
.file_upload input {
position: absolute;
top: 0;
right: 0;
margin: 0;
border: 300px solid transparent;
opacity: 0;
-ms-filter: 'alpha(opacity=0)';
filter: alpha(opacity=0);
-o-transform: translate(-300px,-300px) scale(10);
-moz-transform: translate(-800px,0) scale(10);
cursor: pointer;
}
.file_upload iframe,.file_upload button {
display: none;
}
.file_upload_progress .ui-progressbar-value {
background: url('../img/pbar-ani.gif');
}
.file_upload_progress div {
width: 150px;
height: 15px;
}
.file_upload_cancel div {
cursor: pointer;
}

table.upload_files td {
padding: 3px;
}
table.download_files {
width: 250px;
}
table.download_files td {
text-align: center;
height: 45px;
}
table.download_files td img {
margin-top: 5px;
}

/* -- */

.ui-autocomplete {
background-color: #eee;
position: absolute;
cursor: default;
}
.ui-autocomplete .ui-menu-item {
}
.ui-autocomplete .ui-menu-item a {
display: block;
padding: 4px 6px;
text-decoration: none;
line-height: 12px;
border: none;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover, .ui-autocomplete .ui-menu-item a.ui-state-active {
background-color: #78959D;
color: #000;
margin: 0;
}
.ui-autocomplete-loading {
background: white url(../img/ui-anim_basic_16x16.gif) right center no-repeat;
}
form div.row ul.tagit {
border: none;
padding: 3px 6px;
font-size: 12px;
width: 100%;
background: #FFFFFF;
overflow: auto;
margin: 0;
}
form div.row ul.tagit li {
display: block;
float: left;
}
form div.row ul.tagit li.tagit-choice {
background-color: #DEE7F8;
border: 1px solid #CAD8F3;
padding: 0 4px 0;
margin: 0 3px 0 0;
}
form div.row ul.tagit li.tagit-choice:hover {
background-color: #bbcef1;
border-color: #6d95e0;
}
form div.row ul.tagit li.tagit-new {
padding: 2px 4px 0 0;
}
form div.row ul.tagit li.tagit-choice input {
display: block;
float: left;
}
form div.row ul.tagit li.tagit-choice a.close {
color: #777777;
cursor: pointer;
font-size: 12px;
font-weight: bold;
outline: medium none;
padding: 0 0 0 3px;
text-decoration: none;
border: none;
}
form div.row ul.tagit input[type="text"] {
-moz-box-sizing: border-box;
border: none;
margin: 0;
padding: 0;
width: inherit;
border-color: #C6C6C6;
background-color: #FFFFFF;
color: #333333;
}

.event_import {
display: inline-block;
float: right;
background: #23A8E0 url('../img/icons/add.png') no-repeat 3px 5px;
border: none;
padding: 3px 6px 3px 25px;
margin-left: 5px;
color: #FFF;
}
.event_import select {
width: 220px;
}

/* SWITCH BUTTON  */
div.switch {
display: inline-block;
width: 125px;
height: 23px;
background: #DDD;
border: 1px solid #CCC;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
div.switch a.part {
display: block;
float: left;
padding: 2px 5px;
text-decoration: none;
color: #666;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: none;
}
div.switch a.part:hover {
color: #000;
text-decoration: underline;
}
div.switch a.part.active {
background: #EDEDED;
color: #333;
}
div.switch a.part.active:hover {
color: #333;
text-decoration: none;
}

a.deletemap {
display: inline-block;
background: #EDEDED url('../img/icons/cross.png') no-repeat 3px 5px;
padding: 3px 6px 3px 25px;
margin: 2px 0 0 5px;
border: none;
}


/* languages */
.checkbox {
width: 20px !important;
}

#tabs #iphone_preview{
background: url('../img/iphone4_big.png') no-repeat !important;
height: 562px;
}
#tabs #iphone_preview iframe{
margin-left: 16px;
margin-top: 102px;
overflow: -moz-scrollbars-vertical;
overflow-x: hidden;
overflow-y: scroll;
}
#iphone_preview iframe body, #iphone_preview iframe body.page-event-index page--event {
overflow: -moz-scrollbars-vertical;
overflow-x: hidden;
overflow-y: scroll;
}

.module.active .editlink, .module.inactive span {
font-weight: bold;
}
.module.inactive span {
color: #aaa;
font-weight: normal;
font-style: italic;
}

#right {
position: absolute;
right: 20px;
top: 60px;
background-color: #FCFCD3;
padding: 10px;
width: 220px;
}
#right h3 {
margin-top: 5px;
}
