/*
* jQuery Nivo Slider v2.1
* http://nivo.dev7studios.com
*
* Copyright 2010,Gilbert Pellegrom
* Free to use and abuse under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 
* March 2010
*/
/* The Nivo Slider styles */
.nivoSlider { position:relative; }
.nivoSlider img { position:absolute; top:0px; left:0px; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink { position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:60; display:none; }

/* The slices in the Slider */
.nivo-slice { display:block; position:absolute; z-index:50; height:100%; }

/* Caption styles */
.nivo-caption { position:absolute; left:0px; bottom:0px; background:#000; color:#fff; opacity:0.8; width:100%; z-index:89; }
.nivo-caption p { padding:5px; margin:0; }
.nivo-caption a { display:inline !important; }
.nivo-html-caption { display:none; }

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a { background-image:url('../img/arrows.png'); position:absolute; top:42%; z-index:99; cursor:pointer; width:50px; height:71px; display:block; text-decoration:none; border:0; }
.nivo-prevNav { left:-50px; text-decoration:none; }
.nivo-prevNav:hover { background-position:0px -71px; }
.nivo-nextNav { right:-50px; background-position:-50px 0px; text-decoration:none; }
.nivo-nextNav:hover { background-position:-50px -71px; }

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a { position:relative; z-index:99; cursor:pointer; }
.nivo-controlNav a.active { font-weight:bold; }
