* { margin:0; padding:0; }
html,body { margin:0; padding:0; height:100%; min-width:240px; height:100%; }
body { margin:0; color:#222222; background:#FFF; font-family:"Lucida Grande","Lucida Sans",Arial,Verdana,sans-serif; font-size:1em; }

#wrapper { min-height:100%; height:auto !important; height:100%; margin:0 auto 0; }

div.new_score { border:0.75em solid #FFF; background:#F2F2F2; padding:1em; }
div.new_score h1 { font-size:150%; color:#42B2D8; }
div.new_score h2 { font-size:120%; color:#42B2D8; margin-top:1em; }
div.new_score p.description { font-style:italic; }
div.new_score table { margin-top:1em; width:100%; }
div.new_score table tr { height:2em; }
div.new_score table tr th { border-bottom:1px solid #CCC; padding:3px; }
div.new_score table tr th span.highlight { background:#42B2D8; color:#FFF; padding:3px 5px; border-radius:5px; }
div.new_score table tr td { border-top:1px dotted #CCC; padding:3px; vertical-align:middle; }
div.new_score table tr.first td { border-top:none; }
div.new_score table tr.btop td { border-top:1px solid #CCC; }

div.new_score table tr th.score { text-align:right; }
div.new_score table tr td.score { text-align:right; padding-right:8px; }

div.new_score table.leaderboard { margin:0; }
div.new_score table.leaderboard tr td span { color:#666; margin-right:3px; }
div.new_score table.leaderboard tr.user td { background:#42B2D8; color:#FFF; }
div.new_score table.leaderboard tr.user td.score { padding-right:8px; }
div.new_score table.leaderboard tr.user td span { color:#FFF; }

div.new_score p.goto { margin:15px 0 0 0; color:#333; padding:5px; }
div.new_score p.goto a { text-decoration:underline; color:#42B2D8; }

div.new_intro { border:0.75em solid #FFF; background:#F2F2F2; padding:1em; font-size:0.75em; }
div.new_intro strong { color:#3B5998; }
div.new_intro ul { margin:5px 10px 0px 25px; list-style:circle; }

div.new_outro { border:0.75em solid #FFF; border-top:none; padding:1em; font-size:0.5em; font-style:italic; }
p.note { border-top:none; padding:0.75em; font-size:0.5em; font-style:italic; }

/* FB integration */
#fbframe { width:500px; font-size:11px; }
#fbframe div.score { border:none; background:#F2F2F2; border-top: 1px solid #E2E2E2; padding:1em; margin:0 0 10px 0; }
#fbframe div.score h1 { font-size:150%; color:#3B5998; }
#fbframe div.score h2 { font-size:120%; color:#3B5998; margin-top:1em; }
#fbframe div.score p.description { font-style:italic; }
#fbframe div.score table { margin-top:1em; width:100%; }
#fbframe div.score table tr { height:2em; }
#fbframe div.score table tr th { border-bottom:1px solid #CCC; padding:3px; }
#fbframe div.score table tr td span.highlight { background:#3B5998; color:#FFF; padding:3px 5px; border-radius:5px; margin:0 -3px 0 0; }
#fbframe div.score table tr td { border-top:1px dotted #CCC; padding:3px; vertical-align:middle; }
#fbframe div.score table tr td.title { color:#3B5998; font-size:13px; padding-top:15px; }
#fbframe div.score table tr.first td { border-top:none; }
#fbframe div.score table tr.btop td { border-top:1px solid #CCC; }
#fbframe div.score table tr th.score { text-align:right; }
#fbframe div.score table tr td.score { text-align:right; padding-right:8px; }
#fbframe div.score table.leaderboard { margin:0; }
#fbframe div.score table.leaderboard tr td span { color:#666; margin-right:3px; }
#fbframe div.score table.leaderboard tr td .fetchfbname { color:#222; margin-right:3px; }
#fbframe div.score table.leaderboard tr.user td { background:#3B5998; padding:3px; color:#FFF; }
#fbframe div.score table.leaderboard tr.user td.score { padding-right:8px; }
#fbframe div.score table.leaderboard tr.user td span { color:#FFF; }

#fbframe div.intro { }
#fbframe div.intro strong { color:#3B5998; }
#fbframe div.intro ul { margin:5px 10px 15px 25px; list-style:circle; }

#fbframe div.outro { font-size:10px; font-style:italic; }
#fbframe div.intro ul li { }

