#header {
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  color: #555555;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  background: #0f2f87;
  background-image: -moz-linear-gradient(center top , #0f2f87, #0f2f87);
  background-image: -webkit-linear-gradient(top , #0f2f87, #0f2f87);
  background-image: -webkit-linear-gradient(top, #0f2f87 0%, #0f2f87 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0f2f87', endColorstr='#0f2f87')";
  background: -ms-linear-gradient(#0f2f87, #0f2f87);
  background-repeat: repeat-x;
  height:61px;
}

#menu-container {
    background: none repeat-y scroll left top #03164b;
    border-right: 1px solid #BBBBBB;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0 0 25px;
    width: 255px;
    min-height:100%;
    margin-top:-15px;
}

#menu-container .nav li {
    background-color: #03164b;
    background-image: -moz-linear-gradient(center top , #03164b, #03164b);
    background-image: -webkit-linear-gradient(top , #03164b, #03164b);
    background: -ms-linear-gradient(#03164b, #03164b);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#03164b', endColorstr='#03164b');
    border-bottom: 1px solid #070707;
    border-top: 1px solid #636363;
    color: white;
    display: block;
    font-size: 14px;
    height: 30px;
    padding: 15px 25px;
    width:205px;
}

#menu-container .modules-list li.active, #menu-container .nav li.active:hover {
    background-image: -moz-linear-gradient(center top , #03164b, #03164b) !important;
    background-image: -webkit-linear-gradient(top , #03164b, #03164b) !important;
    background: -ms-linear-gradient(#03164b, #03164b) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#03164b', endColorstr='#03164b') !important;
}
#menu-container .nav li:hover {
    background-image: -moz-linear-gradient(center top , #03164b, #03164b);
    background-image: -webkit-linear-gradient(top , #03164b, #03164b);
    background: -ms-linear-gradient(#03164b, #03164b);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#03164b', endColorstr='#03164b');
    border-bottom: 1px solid #070707;
    border-top: 1px solid #636363;
}

#menu-container .modules-list li {
    background: none repeat scroll 0 0 #03164b !important;
    border-bottom: 1px solid #090A0C;
    border-top: medium none;
    font-size: 13px;
    height: 24px;
    padding: 5px 10px 5px 40px;
}
#menu-container .modules-list li:hover {
    background: none repeat scroll 0 0 #03164b !important;
    border-bottom: 1px solid #090A0C;
    border-top: medium none;
    padding: 5px 10px 5px 40px;
}
body {
    background-image: url("../img/layout2/bodybg.png");
    background-repeat: repeat-y;
}
#header #logo {
    display: block;
    height: 47px;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 1px;
    width: 221px;
}